mixin link(href, text)
  li
    a(class!=attributes.class href=href)=text
      if block
        block

mixin parallax-card(src, title, text)
  .parallax-card
    .parallax-card__img
      img(src= src).img
    .parallax-card__title= title
    .parallax-card__text= text
    a(href='product.html').link-btn-inverse More

mixin slide(title, srcDesk, srcMobile)
  .swiper-slide(data-responsive-bg data-src-desk= srcDesk data-src-mobile= srcMobile)
    .main-banner__title= title
    a(href='shop.html').link-btn-special
     | Shop the
     br
     | collection

mixin wish-item(title, price)
  li.content__list-item
    a(href='product.html').content__list-item__link
    .content__list-item__img
      img(src='../img/wish-list.png')
    .content__list-item__info-list
      .info-item._title= title
      .info-item= price

mixin cart-item(title, count, price, size)
  li.content__list-item
    a(href='product.html').content__list-item__link
    .content__list-item__img
      img(src='../img/wish-list.png')
    .content__list-item__info-list
      .info-item._title #{title}
      .info-item QTY: #{count}
      .info-item price: #{price}
      .info-item size: #{size}

mixin product(voted)
  .product
    .product-preview
      a(href='product.html').product-preview__link
        .product-img
          img(data-src='../img/product/product.png' alt='').lazy
        .product-preview__title.d-lg-none Isabella Dress
        .product-preview__price.d-lg-none € 399.99
    .product-hidden(data-bg='url("../img/product/product-bg.png")').lazy.d-none.d-lg-flex
      .product-info.text-center
        .product-info__title Isabella Dress
        .product-info__price € 399.99
        .product-info__text Buy this
      a(href='product.html').product-hidden__link
    if voted
      a(href='javascript:;' data-add="Added to your wish list" data-remove="Removed from your wish list").add-to-wish.voted
        i.icon-heart_f
        i.icon-heart
    else
      a(href='javascript:;' data-add="Added to your wish list" data-remove="Removed from your wish list").add-to-wish
        i.icon-heart_f
        i.icon-heart
      
mixin checkbox(title, checked)
  .checkbox
    label.checkbox-container
      input(type='checkbox' checked= checked).checkbox-input
      =title
      .checkbox-checkmark
        i.icon-checked

mixin radio(name, title, checked)
  .radio
    label.radio-container
      input(type='radio' name= name checked= checked).radio-input
      =title
      .radio-checkmark

mixin orders-item(title, count, price, size)
  .my-orders-item__grid-item
    a(href='product.html').grid-item__link
    .grid-item__img
      img(src='../img/my-orders.png')
    .grid-item__info-list
      .info-item._title #{title}
      .info-item QTY: #{count}
      .info-item price: #{price}
      .info-item size: #{size}

mixin cart-form-item(title, price, count, size)
  li.cart__form__item
    .cart__form__item-column.cart__form__item-details
      button.cart__form__item-delete(data-remove="Item removed from your cart") #[i.icon-close]
      .cart__form__item-img
        a(href='product.html').cart__form__item-link
        img(src='../img/my-orders.png')
      .cart__form__item-info.flex-1
        .cart__form__item-info__title= title
        .cart__form__item-info__size size: #{size}
    .cart__form__item-column._column-price
      .cart__form__item-price #[span.d-md-none Price:] € 548
    .cart__form__item-column._column-count #[span.d-md-none QTY:] #[input(type='number' value=count min="1").cart__form__item-count]
    .cart__form__item-column._column-total
      .cart__form__item-total #[span.d-md-none Total:] € #[span 548]

mixin order-item(title, size, count, price)
  li
    a(href='product.html').order-items__link
      .order-items__img
        img(src='../img/my-orders.png')
      .order-items__info
        .order-items__info-block
          .order-items__title= title
          .order-items__size Size: #{size}
        .order-items__count #[span.d-md-none QTY:] #{count}
        .order-items__price #[span.d-md-none Price:] #{price}

mixin boutique(title)
  .boutiques-card
    .boutiques-card__head
      .boutiques-card__head-icon&attributes(attributes)
      .boutiques-card__head-title= title
    .boutiques-card__content
      if block
        block
