[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e900";
}
.icon-burger:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-checked:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-down:before {
  content: "\e905";
}
.icon-down_thin:before {
  content: "\e906";
}
.icon-email_r:before {
  content: "\e907";
}
.icon-fb:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-heart_f:before {
  content: "\e90a";
}
.icon-insta:before {
  content: "\e90b";
}
.icon-messenger_r:before {
  content: "\e90c";
}
.icon-minus:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-phone_r:before {
  content: "\e90f";
}
.icon-pinterest:before {
  content: "\e910";
}
.icon-plus:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-telegram_r:before {
  content: "\e913";
}
.icon-twitter:before {
  content: "\e914";
}
.icon-whatsapp_r:before {
  content: "\e915";
}
