@import "vars";
@import "libs";
@import "fonts";
@import "icons";


// Blocks
@import "blocks/header";
@import "blocks/side-menu";
@import "blocks/footer";
@import "blocks/main-banner";
@import "blocks/cookies";
@import "blocks/recommended";

// Parts
@import "parts/typography";
@import "parts/forms";
@import "parts/popovers";
@import "parts/swipers";
@import "parts/popups";
@import "parts/contacts-btn";
@import "parts/product";
@import "parts/notify";
@import "parts/filters";

body {
	font-size: 20px;
	min-width: 320px;
	min-height: 100vh;
	position: relative;
	line-height: 1.6;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	&.fixed {
		overflow: hidden;
	}
}

.main {
	flex: 1 1 0%;
}

.section {
	padding: 60px 0;
}

.section-hero {
	height: 40vh;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

::selection {
	background-color: $gray;
	color: #fff;
}

.img {
	display: block;
	width: 100%;
	height: auto;
	&-cover {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.flex {
	&-initial {
		flex: 0 1 auto;
	}
	&-1 {
		flex: 1 1 0%;
	}
	&-auto {
		flex: 1 1 auto;
	}
	&-none {
		flex: none;
	}
}

.justify-self {
	&-center {
		justify-self: center;
	}
}

.paypal-logo {
	margin-top: -6px;
}
