@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
  .header {
    &-lang-switch {
      margin-right: 15px;
    }
    &-nav {
      &__list {
        & > li {
          & + li {
            margin-left: 12px;
          }
        }
      }
    }
  }
  .filter-container .checkbox-list.checkbox-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-open {
    &__info {
      margin-left: 50px;
    }
    &__btns {
      grid-template-columns: max-content;
    }
  }
  .boutiques {
    &-grid {
      grid-template-columns: repeat(3, auto);
    }
  }
  .contact {
    &-img {
      &__first {
        img {
          width: 100%;
        }
      }
    }
    &-info {
      &__grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .header {
    padding-top: 20px;
    &-search {
      padding: 25px 15px 30px;
      width: unset;
      right: 0;
      left: 0;
    }
  }
  .footer {
    padding: 23px 0 12px;
    &-nav__list {
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      li {
        margin-bottom: 20px;
        margin-right: 20px;
        &:nth-child(4n) {
          margin-bottom: 0;
        }
        & + li {
          margin-left: 0;
        }
      }
    }
    &-socials__list {
      flex-direction: column;
      li {
        & + li {
          margin-left: 0;
          margin-top: 25px;
        }
      }
    }
  }
  .about {
    &-title {
      font-size: 24px;
      margin-bottom: 10px;
    }
    &-text {
      font-size: 16px;
    }
  }
  .boutiques {
    &-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .contact {
    &-img {
      &__second {
        img {
          width: 80%;
          height: auto;
        }
      }
    }
    &-info {
      &__socials {
        margin-bottom: 30px;
      }
    }
    &-form {
      .form-field {
        textarea {
          height: 100px;
        }
      }
      &__title {
        margin-bottom: 20px;
      }
      &__btns {
        margin-top: 40px;
      }
    }
  }
  .shop, .wishlist {
    &-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5px;
    }
  }
  .filter {
    &.filter-full {
      .filter-container {
        .filter-row {
          .filter-section {
            width: 100%;
            .checkbox-list {
              grid-template-columns: repeat(3, 1fr);
              grid-template-rows: auto;
              grid-auto-flow: row;
            }
          }
        }
      }
    }
  }
  .filter-container .checkbox-list.checkbox-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .product {
    height: auto;
    padding: 20px 10px;
    &-preview {
      width: auto;
      height: auto;
    }
    &-img {
      width: auto;
      height: auto;
    }
  }
  .product-open {
    &__info {
      margin-left: 0;
      margin-top: 20px;
    }
    &__descr {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__title {
      margin-bottom: 0;
      font-size: 20px;
      max-width: 210px;
    }
    &__oldprice {
      font-size: 15px;
      margin-left: auto;
    }
    &__sale {
      font-size: 20px;
      margin-left: auto;
    }
    &__saletext {
      margin: 0 0 35px 0;
    }
    &__discountoldprice {
      font-size: 15px;
      margin-left: auto;
      margin-top: 13px;
    }
    &__discountprice {
      font-size: 20px;
      margin-left: auto;
      margin-top: 10px;
    }
    &__price {
      font-size: 20px;
      margin-left: auto;
    }
    &__btns {
      margin: 20px 0;
      grid-template-columns: 1fr 1fr;
    }
    &__size-select {
      margin-top: 30px;
    }
    &__description {
      margin-top: 30px;
    }
  }
  .product-gallery {
    &-top {
      height: 70vh;
      padding-bottom: 30px;
      .swiper-slide {
        img {
          object-fit: contain;
        }
      }
      .swiper-pagination {
        bottom: 0;
      }
      .swiper-button-prev, .swiper-button-next {
        display: none;
      }
    }
    &-thumbs {
      width: 87%;
      margin: 0;
      height: 4px;
      margin-top: -10px;
      .swiper-slide {
        &__border {
          display: none;
        }
        background-color: #e0e0e0;
        transition: background-color .5s;
        img {
          display: none;
        }
        &.active {
          background-color: #656569;
        }
      }
    }
  }
  .my-orders-item__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
  .order {
    &-success {
      margin-bottom: 20px;
      &-info {
        margin: 40px 0 20px;
      }
      &-table {
        &__row {
          padding: 20px 0;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
        }
        &__item {
          padding: 0;
        }
      }
    }
  }
  .recommended {
    &-grid {
      grid-template-columns: repeat(3, 1fr);
      .product {
        &:nth-child(n+4) {
          display: none;
        }
      }
    }
  }
  .cookies {
    padding: 15px 40px 15px 15px;
    &-container {
      max-width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
    &-text {
      margin-bottom: 12px;
    }
  }
  .contacts-btn {
    right: 80px;
    bottom: 80px;
  }
  #registration {
    display: none;
  }
}

// ≥768px
@include media-breakpoint-down(sm) {
  a.link-btn, .button {
    font-size: 14px;
    padding: 10px 26px;
  }
  a.link-btn-special {
    padding: 10px 20px;
  }
  .button-sale {
    padding: 10px 20px;
    width: 35%;
  }
  .section {
    padding: 40px 0;
    &-hero {
      height: 40vh;
    }
    &-title {
      margin-bottom: 30px;
    }
  }
  .contacts-btn {
    width: 70px;
    height: 70px;
    right: 40px;
    bottom: 40px;
    font-size: 40px;
  }
  .notifyjs-notify-base {
    width: 200px;
  }
  .header {
    &-center {
      width: 158px
    }
    &-left, &-right {
      width: calc(50% - 79px);
    }
    &-controls {
      &__search {
        margin-left: 16px;
        font-size: 16px;
        width: 34px;
        height: 34px;
        &.active {
          .icon-close {
            font-size: 18px;
          }
        }
      }
    }
  }
  .main-banner {
    height: 75vh;
    &-swiper {
      .swiper-slide {
        padding: 0 15px 90px;
      }
    }
    &__title {
      margin: 0 0 47px;
      font-size: 32px;
      text-align: center;
    }
  }
  .showroom {
    padding: 140px 30px;
    &-card {
      padding: 30px 27px;
      &__title {
        font-size: 18px;
      }
      &__text {
        font-size: 14px;
        margin-bottom: 30px;
      }
    }
  }
  .instagram {
    padding: 23px 0 50px;
    &-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 5px;
    }
    &-title {
      font-size: 19px;
      margin-bottom: 10px;
      &__subtitle {
        font-size: 10px;
      }
    }
  }
  .shop, .wishlist {
    &-filters {
      display: flex;
      justify-content: space-between;
      .filter + .filter {
        margin-left: 0;
      }
      .filter:last-child {
        .filter-container {
          left: auto;
          right: 0;
        }
      }
    }
    &-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    &-more-btn {
      margin-top: 30px;
    }
    &-category {
      margin-left: 20px;
    }
  }
  .filter {
    &.filter-full {
      .filter-container {
        padding: 30px 25px 40px;
        left: -15px;
        right: -15px;
        .filter-row {
          margin-bottom: 30px;
          .filter-section {
            &__title {
              margin-bottom: 25px;
            }
            .checkbox-list {
              grid-template-columns: repeat(2, 1fr);
              grid-gap: 25px;
              max-height: 154px;
              overflow-y: auto;
            }
          }
        }
      }
    }
    &-toggle {
      i {
        margin-left: 8px;
      }
    }
    &-container {
      padding: 30px 25px 40px;
    }
    .checkbox-list {
      li + li {
        margin-top: 20px;
      }
    }
    .links-list {
      li + li {
        margin-top: 0 !important;
      }
    }
  }
  .filter-container .checkbox-list.checkbox-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    max-height: 254px;
    overflow-y: auto;
  }
  .product-open {
    &__btns {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
  .size-select__dropdown {
    .dropdown-head {
      padding: 10px 26px;
      padding-right: 60px;
      min-width: 196px;
    }
  }
  .cart__form {
    &__head {
      display: none;
    }
    &__item {
      grid-template-columns: 1fr;
      margin: 0;
      padding: 20px 30px 20px 135px;
      border-top: 1px solid $border;
      position: relative;
      &-column {
        &._column-price, &._column-count, &._column-total {
          justify-self: flex-start;
        }
        &._column-count {
          font-size: 14px;
          padding-top: 10px;
        }
      }
      &-delete {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -4px;
      }
      &-img {
        margin: 0;
        position: absolute;
        left: 0;
        top: 20px;
        &._mobile {
          display: block;
        }
      }
      &-count {
        width: 32px;
        height: 32px;
        font-size: 14px;
      }
      &-info {
        &._mobile {
          display: block;
        }
        &__title {
          font-size: 14px;
          margin-bottom: 16px;
        }
      }
      &-price {
        font-size: 14px;
        padding-top: 10px;
      }
      &-total {
        font-size: 14px;
        padding-top: 10px;
      }
    }
    &__footer {
      &-warning {
        font-size: 12px;
      }
      &-summary {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__value {
          margin: 0;
          font-weight: normal;
        }
      }
    }
    &__submit {
      margin-top: 30px;
      text-align: left;
      button {
        padding: 15px 78px;
      }
    }
  }
  .my-orders {
    &-item {
      & + .my-orders-item {
        margin-top: 60px;
      }
      &__grid {
        margin: 30px 0;
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
    }
  }
  .recommended {
    &-grid {
      grid-template-columns: repeat(2, 1fr);
      .product {
        &:nth-child(n+3) {
          display: none;
        }
      }
    }
  }
  .fancybox {
    &-content {
      padding: 60px 20px 30px;
    }
  }
  .size-guide {
    .table-top, .table-bottom {
      &__fixed-column {
        &__item {
          padding: 10px 18px;
          &:first-child {
            padding: 14px 18px;
          }
        }
      }
      &__table {
        &-column {
          &__item {
            padding: 10px 18px;
            &:first-child {
              padding: 14px 18px;
            }
          }
        }
      }
    }
    .table-bottom {
      margin-top: 40px;
    }
  }
  .form {
    &-inputs-row {
      & + .form-inputs-row {
        margin-top: 0;
      }
    }
  }
  .order {
    &-form {
      .tab {
        .form-field {
          margin-bottom: 35px;
        }
      }
      &__title {
        display: none;
      }
      &__controls {
        margin-top: 40px;
      }
      &__label {
        margin-bottom: 15px;
      }
    }
    &-items {
      margin-top: 50px;
      &::after {
        display: none;
      }
      &__list {
        li {
          padding: 20px 0;
          border-top: 1px solid $border;
          &:last-child {
            border-bottom: 1px solid $border;
          }
          & + li {
            margin-top: 0;
          }
        }
      }
      &__img {
        width: 100px;
        height: 100px;
      }
      &__info {
        padding-left: 42px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      &__title {
        margin-bottom: 18px;
      }
      &__count {
        width: 100%;
        text-align: left;
        font-size: 14px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      &__price {
        width: 100%;
        text-align: left;
        font-size: 14px;
        text-transform: uppercase;
        color: $accent;
      }
      &__summary {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        &-value {
          margin-left: 0;
          font-weight: normal;
        }
      }
    }
    &-success {
      &-table {
        &__row {
          grid-template-columns: 1fr;
        }
      }
    }
  }
  .login {
    &-form {
      &__controls {
        flex-direction: column;
        .restore-password-link {
          order: -1;
          align-self: flex-end;
          margin-bottom: 30px;
        }
      }
    }
  }
  .profile {
    &-form {
      &__group {
        .form-inputs-row {
          [class^="col-"] {
            margin-bottom: 30px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          & + .form-inputs-row {
            margin-top: 30px;
          }
        }
      }
    }
  }
  .contact {
    &-info {
      &__socials {
        margin-top: 30px;
        justify-content: center;
        a {
          font-size: 16px;
        }
      }
    }
  }
  .boutiques {
    &-grid {
      grid-template-columns: 1fr;
    }
  }
  .about {
    &-img {
      &__first {
        margin-bottom: 20px;
        text-align: center;
        img {
          width: 215px;
        }
      }
      &__second {
        margin-bottom: 20px;
        text-align: right;
        img {
          width: 290px;
        }
      }
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}
