$default-font: "Futura", sans-serif;
$text: #656569;
$title: #1e252c;
$accent: #333;
$hover: #828282;
$gray: #bdbdbd;
$border: #e0e0e0;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1370px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1200px,
  xl: 1340px
);
