#restorePassword
  .popup-title Forgot Your Password?
  .popup-text Enter your email and we'll send you your password.
  form#restorePasswordForm.popup-form
    .form-field
      label.form-label email
      input(type="text" placeholder='Your Email').form-input
      span.input-alert * Required Field
    button(type='submit').button send
