#restorePasswordSuccess
  .popup-title Check Your Email
  .popup-text 
    p An email with your password has been sent.
    p Can't find it? Please check your junk folder.
  .text-center
    button(type='button' data-fancybox-close).button ok
