#popupSize.size-guide
  .size-guide__title Size Guide - Clothing
  .table-top
    .table-top__fixed-column
      .table-top__fixed-column__item FR
      .table-top__fixed-column__item 36
      .table-top__fixed-column__item 38
      .table-top__fixed-column__item 40
      .table-top__fixed-column__item 42
      .table-top__fixed-column__item 44
      .table-top__fixed-column__item 46
      .table-top__fixed-column__item 48
    .table-top__table-wrapper
      .table-top__table
        .table-top__table-column
          .table-top__table-column__item US
          .table-top__table-column__item US 2-4
          .table-top__table-column__item US 4-6
          .table-top__table-column__item US 8
          .table-top__table-column__item US 10
          .table-top__table-column__item US 12
          .table-top__table-column__item US 14
          .table-top__table-column__item US 16
        .table-top__table-column
          .table-top__table-column__item IT
          .table-top__table-column__item IT 40
          .table-top__table-column__item IT 42
          .table-top__table-column__item IT 44
          .table-top__table-column__item IT 46
          .table-top__table-column__item IT 48
          .table-top__table-column__item IT 50
          .table-top__table-column__item IT 52
        .table-top__table-column
          .table-top__table-column__item AU
          .table-top__table-column__item AU 8
          .table-top__table-column__item AU 10
          .table-top__table-column__item AU 12
          .table-top__table-column__item AU 14
          .table-top__table-column__item AU 16
          .table-top__table-column__item AU 18
          .table-top__table-column__item AU 20
        .table-top__table-column
          .table-top__table-column__item UK
          .table-top__table-column__item UK 8
          .table-top__table-column__item UK 10
          .table-top__table-column__item UK 12
          .table-top__table-column__item UK 14
          .table-top__table-column__item UK 16
          .table-top__table-column__item UK 18
          .table-top__table-column__item UK 20
        .table-top__table-column
          .table-top__table-column__item EU
          .table-top__table-column__item EU 34
          .table-top__table-column__item EU 36
          .table-top__table-column__item EU 38
          .table-top__table-column__item EU 40
          .table-top__table-column__item EU 42
          .table-top__table-column__item EU 44
          .table-top__table-column__item EU 46
        .table-top__table-column
          .table-top__table-column__item JP
          .table-top__table-column__item JP 7
          .table-top__table-column__item JP 9
          .table-top__table-column__item JP 11
          .table-top__table-column__item JP 13
          .table-top__table-column__item JP 15
          .table-top__table-column__item JP 17
          .table-top__table-column__item JP 19
  .table-bottom
    .table-bottom__fixed-column
      .table-bottom__fixed-column__item FR
      .table-bottom__fixed-column__item bust (cm)
      .table-bottom__fixed-column__item walst (cm)
      .table-bottom__fixed-column__item hips (cm)
      .table-bottom__fixed-column__item height for#[br]sample (cm)
    .table-bottom__table-wrapper
      .table-bottom__table        
        .table-bottom__table-column
          .table-bottom__table-column__item 36
          .table-bottom__table-column__item 84
          .table-bottom__table-column__item 63,4
          .table-bottom__table-column__item 90
          .table-bottom__table-column__item 170-172
        .table-bottom__table-column
          .table-bottom__table-column__item 38
          .table-bottom__table-column__item 88
          .table-bottom__table-column__item 67,4
          .table-bottom__table-column__item 94
          .table-bottom__table-column__item 170-172
        .table-bottom__table-column
          .table-bottom__table-column__item 40
          .table-bottom__table-column__item 92
          .table-bottom__table-column__item 71,4
          .table-bottom__table-column__item 98
          .table-bottom__table-column__item 170-172
        .table-bottom__table-column
          .table-bottom__table-column__item 42
          .table-bottom__table-column__item 96
          .table-bottom__table-column__item 75,4
          .table-bottom__table-column__item 102
          .table-bottom__table-column__item 170-172
        .table-bottom__table-column
          .table-bottom__table-column__item 44
          .table-bottom__table-column__item 100
          .table-bottom__table-column__item 79,4
          .table-bottom__table-column__item 106
          .table-bottom__table-column__item 170-172
        .table-bottom__table-column
          .table-bottom__table-column__item 46
          .table-bottom__table-column__item 104
          .table-bottom__table-column__item 83,4
          .table-bottom__table-column__item 110
          .table-bottom__table-column__item 170-172
        .table-bottom__table-column
          .table-bottom__table-column__item 48
          .table-bottom__table-column__item 108
          .table-bottom__table-column__item 87,4
          .table-bottom__table-column__item 114
          .table-bottom__table-column__item 170-172
