.contacts-btn {
  position: fixed;
  z-index: 50;
  right: 65px;
  bottom: 70px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(#000, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 50px;
  color: $accent;
  &:hover {
    text-decoration: none;
    color: $accent;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      a {
        font-size: 14px;
        i {
          margin-right: 10px;
          font-size: 25px;
          text-decoration: none;
          vertical-align: middle;
        }
      }
      & + li {
        margin-top: 20px;
      }
    }
  }
}
