.filter {
  position: relative;
  &.filter-full {
    position: static;
    .filter-container {
      left: 0;
      right: 0;
      padding: 40px 70px;
      .filter-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .filter-section {
          &__title {
            font-size: 14px;
            letter-spacing: 3.5px;
            color: $accent;
            margin-bottom: 30px;
          }
          .checkbox-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-row-gap: 30px;
            grid-column-gap: 70px;
            li + li {
              margin: 0;
            }
            &::-webkit-scrollbar {
              -webkit-appearance: none;
              width: 5px;
            }
            &::-webkit-scrollbar-track {
              background: $border;
              border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
              background: $gray;
              border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
              background: $hover;
            }
          }
        }
      }
    }
  }
  &.active {
    .filter-toggle {
      i {
        transform: rotateX(180deg);
      }
    }
  }
  &-toggle {
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 3.5px;
    cursor: pointer;
    user-select: none;
    color: $accent;
    transition: .3s;
    &:hover {
      color: $hover;
    }
    i {
      margin-left: 16px;
      font-size: 10px;
      transition: transform .4s;
    }
  }
  &-container {
    display: none;
    position: absolute;
    z-index: 50;
    left: 0;
    top: 100%;
    padding: 40px 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(#000, .08);
    .checkbox-list {
      margin: 0;
      margin-bottom: 40px;
      padding: 0;
      list-style-type: none;
      text-transform: uppercase;
      li {
        & + li {
          margin-top: 30px;
        }
      }
      &.checkbox-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 70px;
        li {
          & + li {
            margin-top: 0;
          }
        }
        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 5px;
        }
        &::-webkit-scrollbar-track {
          background: $border;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: $gray;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $hover;
        }
      }
    }
    .links-list {
      @extend .checkbox-list;
      font-size: 14px;
      margin-bottom: 0;
      li {
        justify-self: start;
        padding: 6px;
        cursor: pointer;
        transition: background-color .3s;
        &.active {
          background-color: $border;
        }
        &:hover {
          background-color: #b0b0b0;
        }
        a {
          text-decoration: none;
          &:hover {
            color: $accent;
          }
        }
      }
    }
  }
}
