button:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

::placeholder {
	color: $gray;
}

input[type=number] {
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
  -moz-appearance:textfield;
}

.form {
	&-inputs-row {
		& + .form-inputs-row {
			margin-top: 40px;
		}
	}
	&-inputs-column {
		.form-field + .form-field {
			margin-top: 35px;
		}
	}
	&-field {
		position: relative;
		width: 100%;
		textarea {
			resize: none;
			height: 180px;
		}
		.input-alert {
			position: absolute;
			top: 100%;
			left: 0;
			padding-top: 6px;
		}
		&.invalid {
			.input-alert {
				display: block;
			}
		}
	}
	&-label {
		display: block;
		font-size: 13px;
		font-weight: bold;
		color: $accent;
		letter-spacing: 4px;
		text-transform: uppercase;
		margin-bottom: 4px;
	}
	&-input {
		font-size: 14px;
		letter-spacing: 1.2px;
		width: 100%;
		display: block;
		padding: 20px 0;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $hover;
		transition: border-color .3s;
		&:hover {
			border-color: $accent;
		}
		&:focus {
			outline: none;
			border-color: $accent;
		}
	}
}

.button {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3.5px;
	padding: 20px 45px;
	color: #fff;
	background-color: $accent;
	border: 1px solid $accent;
	transition: background-color .3s, border-color .3s, opacity .3s;
	&:hover {
		color: #fff;
		background-color: $hover;
		border-color: $hover;
	}
	&:disabled {
		opacity: .6;
		pointer-events: none;
	}
	&-inverse {
		@extend .button;
		color: $title;
		background-color: transparent;
		&:hover {
			color: $accent;
			background-color: rgba(#fff, .8);
			border-color: $hover;
		}
	}
	&-sale {
		display: block;
		@extend .button;
		color: #fff;
		background-color: rgba(#FF173E, .8);
		width: 190px;
		padding: 10px 10px;
		margin-top: 5px;
		&:hover {
			background-color: rgba(#ED1B24, .8);
			border-color: $hover;
		}
	}
}

.checkbox {
	&-container {
		display: block;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
		user-select: none;
		padding-left: 35px;
		margin: 0;
		font-size: 14px;
		letter-spacing: 1.7px;
		input:checked + .checkbox-checkmark {
			background-color: $accent;
		}
	}
	&-input {
		position: absolute;
	  opacity: 0;
	  height: 0;
	  width: 0;
	}
	&-checkmark {
		position: absolute;
		left: 0;
		top: 1px;
		width: 20px;
		height: 20px;
		border: 1px solid $accent;
		background-color: #fff;
		font-size: 18px;
		letter-spacing: 0;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color .3s;
	}
}

.radio {
	&-list {
		.radio + .radio {
			margin-top: 20px;
		}
	}
	&-container {
		display: block;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
		user-select: none;
		padding-left: 35px;
		margin: 0;
		font-size: 14px;
		letter-spacing: .28px;
		color: $accent;
		input:checked + .radio-checkmark {
			border-color: $accent;
			&::before {
				background-color: $accent;
			}
		}
	}
	&-input {
		position: absolute;
	  opacity: 0;
	  height: 0;
	  width: 0;
	}
	&-checkmark {
		position: absolute;
		left: 0;
		top: 1px;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		border: 1px solid $gray;
		background-color: #fff;
		font-size: 18px;
		letter-spacing: 0;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: border-color .3s;
		&::before {
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: background-color .3s;
		}
	}
}

.input-alert {
	display: none;
	padding: 2px 0;
	font-size: 14px;
	color: #eb5757;
}

.jq-selectbox {
	display: block;
	&.focused {
		.jq-selectbox__select {
			border-color: $accent;
			.jq-selectbox__trigger {
				color: $accent;
			}
		}
	}
	&.changed {
		.jq-selectbox__select-text {
			color: $accent;
		}
	}
	&__select {
		padding: 20px 45px 20px 0;
		font-size: 14px;
		letter-spacing: 1.2px;
		border-bottom: 1px solid $hover;
		transition: border-color .3s;
		cursor: pointer;
		&:hover {
			border-color: $accent;
			.jq-selectbox__trigger {
				color: $accent;
			}
		}
		&-text {
			color: $gray;
		}
	}
	&__trigger {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 45px;
		color: $hover;
		transition: color .3s;
		&::after {
			content: "\e906";
			font-family: "icomoon";
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			font-size: 12px;
		}
		&-arrow {
			display: none;
		}
	}
	&__dropdown {
		margin-top: 3px;
		width: 100%;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(#000, .08);
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				font-size: 14px;
				letter-spacing: 1.2px;
				padding: 4px;
				cursor: pointer;
				transition: background-color .3s;
				&:hover {
					background-color: $border;
				}
				&.disabled {
					color: $hover;
					pointer-events: none;
				}
			}
		}
	}
}
