.notifyjs-container {
  position: relative;
  padding: 15px 25px 15px 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(#000, .08);
}
.notifyjs-notify-base {
  width: 260px;
	.notify-title {
		color: $accent;
		font-size: 14px;
	}
	.notify-close {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 14px;
		color: $border;
		&:hover {
			color: $hover;
		}
	}
}
