.fancybox-bg {
  background: rgba($accent, .3);
}

.fancybox-content {
  padding: 60px 70px;
  box-shadow: 0 0 45px rgba(#000, .1);
}

.popup {
  &-close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 17px;
    cursor: pointer;
  }
  &-title {
    font-size: 30px;
    letter-spacing: .5px;
    color: $accent;
    margin-bottom: 20px;
    text-align: center;
  }
  &-text {
    font-size: 16px;
    letter-spacing: 1.14px;
    text-align: center;
    margin-bottom: 30px;
  }
  &-form {
    .form-field {
      margin-bottom: 30px;
    }
  }
}

.size-guide {
  &__title {
    font-size: 30px;
    letter-spacing: .5px;
    color: $title;
    margin-bottom: 20px;
  }
  .table-top, .table-bottom {
    font-size: 14px;
    color: $hover;
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
    &__table {
      display: flex;
      &-wrapper {
        overflow: auto;
        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
        }
        &::-webkit-scrollbar-track {
          background: $border;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background: $gray;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $hover;
        }
      }
    }
    &__fixed-column {
      color: $accent;
      font-weight: 500;
    }
  }
  .table-top {
    &__table {
      &-column {
        &:last-child {
          .table-top__table-column__item {
            padding-right: 10px;
          }
        }
        &__item {
          padding: 10px 50px;
          &:first-child {
            padding: 20px 50px;
            color: $accent;
            font-weight: 500;
          }
        }
      }
    }
    &__fixed-column {
      background-color: #f6f6f6;
      &__item {
        padding: 10px 25px;
        &:first-child {
          padding: 20px 25px;
        }
      }
    }
  }
  .table-bottom {
    margin-top: 47px;
    &__table {
      &-column {
        width: 100%;
        &:last-child {
          .table-bottom__table-column__item {
            padding-right: 10px;
          }
        }
        &__item {
          padding: 10px 25px;
          &:first-child {
            background-color: #f6f6f6;
            color: $accent;
            font-weight: 500;
          }
        }
      }
    }
    &__fixed-column {
      &__item {
        padding: 10px 25px;
        &:first-child {
          background-color: #f6f6f6;
        }
      }
    }
  }
}
