.popover {
  max-width: 293px;
  margin-top: 8px;
  background-color: rgba(#fff, .95);
  border: none;
  border-radius: 0;
  font-family: $default-font;
  box-shadow: 0 0 10px rgba(#000, .08);
  &-body {
    padding: 15px 25px;
    .link-btn {
      display: block;
      padding: 20px 0;
      min-width: 234px;
    }
  }
  .arrow {
    &::before {
      display: none;
    }
    &::after {
      border-bottom-color: rgba(#fff, .95);
    }
  }
}

.popover-content {
  &__links-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      font-size: 16px;
      & + li {
        margin-top: 15px;
      }
    }
  }
  &__subtitle {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  &__text {
    font-size: 14px;
    margin: 0 auto 50px;
    max-width: 185px;
  }
  &__list {
    margin: 0 0 50px;
    padding: 0;
    list-style-type: none;
    max-height: 240px;
    overflow-y: auto;
    &.cart-list {
      margin-bottom: 0;
      & + .cart-total {
        margin: 15px 0 30px;
        padding-top: 20px;
        border-top: 1px solid $border;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .cart-total__text {
          font-size: 14px;
          color: $accent;
          text-transform: uppercase;
        }
        .cart-total__value {
          font-size: 18px;
          color: $accent;
        }
      }
    }
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: $border;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $gray;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $hover;
    }
    .content__list {
      &-item {
        display: flex;
        position: relative;
        & + .content__list-item {
          margin-top: 14px;
        }
        &__link {
          position: absolute;
          display: block;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
        &__img {
          width: 60px;
          height: 60px;
          flex: none;
          background-color: #fff;
          overflow: hidden;
          transition: border-color .3s;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &__info-list {
          margin-left: 16px;
          .info-item {
            font-size: 14px;
            font-weight: 500;
            color: $accent;
            text-transform: uppercase;
            & + .info-item {
              margin-top: 12px;
            }
            &._title {
              font-weight: 700;
              color: $title;
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }
}
