.product {
  position: relative;
  height: 410px;
  .add-to-wish {
    position: absolute;
    top: 1px;
    right: 4px;
    padding: 20px;
    font-size: 16px;
    color: $border;
    &:hover {
      color: $hover;
    }
    i.icon-heart_f {
      display: none;
    }
    i.icon-heart {
      display: inline-block;
    }
    &.voted {
      color: $accent;
      &:hover {
        color: $hover;
      }
      i.icon-heart_f {
        display: inline-block;
      }
      i.icon-heart {
        display: none;
      }
    }
  }
  &-preview {
    width: 100%;
    height: 100%;
    &__link {
      display: block;
      text-align: center;
      width: 100%;
      height: 100%;
      color: $accent;
      &:hover {
        text-decoration: none;
        color: $accent;
      }
    }
    &__title {
      margin: 10px 0;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.7px;
    }
    &__oldprice {
      font-size: 13.5px;
      font-weight: 500;
    }
    &__sale {
      font-size: 18px;
      font-weight: 500;
      color: red;
    }
    &__discountoldprice {
      font-size: 13.5px;
      font-weight: 500;
    }
    &__discountprice {
      font-size: 18px;
      font-weight: 500;
      color: red;
    }
    &__price {
      font-size: 18px;
      font-weight: 500;
    }
  }
  &-img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 220px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-hidden {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    transition: .4s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid #fff;
    &__link {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  &-info {
    align-self: flex-end;
    width: 100%;
    padding: 20px 5px;
    color: #fff;
    transition: background-color .6s;
    &__title {
      font-size: 18px;
      font-weight: 500;
    }
    &__oldprice {
      font-size: 15px;
      font-weight: 500;
      margin: 5px 0;
    }
    &__sale {
      font-size: 20px;
      font-weight: 500;
      margin: 5px 0;
      color: #FF464F;
    }
    &__price {
      font-size: 20px;
      font-weight: 500;
      margin: 5px 0;
    }
    &__text {
      font-size: 14px;
      letter-spacing: 3.5px;
      text-transform: uppercase;
    }
  }
  &:hover {
    .add-to-wish {
      z-index: 3;
    }
    .product-hidden {
      z-index: 2;
      opacity: 1;
      height: 450px;
    }
    .product-info {
      background-color: rgba(51,51,51,.25);
    }
  }
}
