.swiper-pagination {
  bottom: 30px;
  .swiper-pagination-bullet {
    position: relative;
    margin: 0 10px !important;
    width: 6px;
    height: 6px;
    background-color: transparent;
    opacity: 1;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;
      transition: .3s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 1px solid transparent;
      transition: .3s ease-in-out;
    }
    &:hover {
      &::before {
        width: 4px;
        height: 4px;
      }
      &::after {
        width: 12px;
        height: 12px;
        border-color: #fff;
      }
    }
    &-active {
      &::after {
        width: 12px;
        height: 12px;
        border-color: #fff;
      }
      &::before {
        background-color: transparent;
      }
      &:hover {
        &::after {
          width: 12px;
          height: 12px;
          border-color: #fff;
        }
        &::before {
          background-color: transparent;
        }
      }
    }
  }
}

.main-banner-swiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
  }
}

.parallax-swiper {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  &-container {
    padding: 0 15px;
    background-color: #f7f7f7;
  }
  .swiper-wrapper {
    padding-bottom: 30px;
  }
  .swiper-slide {
    .parallax-card {
      width: 100%;
      margin: 0;
      padding: 16px 10px 30px;
      text-align: center;
      &__img {
        width: 300px;
        max-width: 100%;
      }
      &__title {
        font-size: 20px;
      }
      &__text {
        font-size: 16px;
      }
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      &::before {
        background-color: $accent;
      }
      &:hover {
        &::after {
          border-color: $accent;
        }
      }
      &-active {
        &::before {
          background-color: transparent;
        }
        &::after {
          border-color: $accent;
        }
      }
    }
  }
}
