a {
	color: $accent;
	transition: color .3s;
	&:hover {
		color: $hover;
	}
	&:focus {
		outline: none;
	}
	&.link-big {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 4px;
		text-decoration: underline;
	}
	&.link-btn {
		display: inline-block;
		text-transform: uppercase;
		text-align: center;
		font-size: 14px;
		letter-spacing: 3.5px;
		padding: 20px 45px;
		color: #fff;
		background-color: $accent;
		border: 1px solid $accent;
		transition: background-color .3s, border-color .3s;
		&:hover {
			text-decoration: none;
			color: #fff;
			background-color: $hover;
			border-color: $hover;
		}
		&-inverse {
			@extend .link-btn;
			color: $title;
			background-color: transparent;
			&:hover {
				color: $hover;
				background-color: rgba(#fff, .8);
				border-color: $hover;
			}
		}
		&-special {
			@extend .link-btn;
			padding: 14px 16px;
	    font-size: 14px;
	    letter-spacing: 3.5px;
	    color: $accent;
	    background-color: rgba(#fff, .5);
			border: none;
	    display: inline-block;
	    transition: background-color .3s;
	    &:hover {
				color: $hover;
	      background-color: rgba(#fff, .8);
	    }
		}
	}
}

b, strong {
	font-weight: 500;
}

.text {
	&-underline {
		text-decoration: underline;
	}
}

.section-title {
	font-size: 40px;
	color: $title;
	letter-spacing: .5px;
	margin-bottom: 50px;
}

.subtitle {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 30px;
}
