// Main
@import "../main";

.cart {
  text-align: center;
  &-title {
    font-size: 30px;
    color: $accent;
    margin-bottom: 20px;
  }
  &-text {
    font-size: 16px;
    letter-spacing: 1.14px;
    margin: 20px 0 45px;
  }
  &__form {
    max-width: 900px;
    margin: 0 auto;
    &__counter {
      margin-bottom: 10px;
      font-size: 16px;
      color: $border;
    }
    &__head {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr;
      padding-bottom: 16px;
      border-bottom: 1px solid $border;
      font-size: 14px;
      font-weight: 500;
      color: $accent;
      text-transform: uppercase;
      letter-spacing: .5px;
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    &__item {
      margin: 20px 0;
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr;
      align-items: center;
      &-column {
        &._column-price, &._column-count {
          justify-self: center;
        }
        &._column-total {
          justify-self: flex-end;
        }
      }
      &-details {
        display: flex;
        align-items: center;
      }
      &-delete {
        cursor: pointer;
        font-size: 20px;
        padding: 4px;
        color: $gray;
        transition: color .3s;
        background-color: transparent;
        border: none;
        &:hover {
          color: $hover;
        }
        i {
          display: block;
        }
      }
      &-img {
        margin-left: 20px;
        margin-right: 56px;
        width: 100px;
        height: 100px;
        background-color: #fff;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &-link {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      &-info {
        &__title {
          font-size: 16px;
          text-transform: uppercase;
          color: $accent;
          letter-spacing: .5px;
          margin-bottom: 5px;
        }
        &__size {
          font-size: 14px;
          text-transform: uppercase;
        }
      }
      &-price {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
      }
      &-count {
        width: 40px;
        height: 40px;
        padding: 1px;
        font-size: 16px;
        text-align: center;
        border: 1px solid $border;
        border-radius: 3px;
        transition: border-color .3s;
        text-transform: uppercase;
        &:focus {
          border-color: $hover;
          outline: none;
          box-shadow: none;
        }
      }
      &-total {
        font-size: 16px;
        color: $accent;
        text-transform: uppercase;
      }
    }
    &__footer {
      padding-top: 16px;
      border-top: 1px solid $border;
      &-warning {
        font-size: 15px;
        font-weight: 300;
      }
      &-summary {
        margin-top: 10px;
        text-align: right;
        color: $accent;
        &__text {
          font-size: 20px;
        }
        &__value {
          font-size: 25px;
          margin-left: 80px;
        }
      }
    }
    &__submit {
      margin-top: 40px;
      text-align: right;
      button {
        padding: 20px 78px;
      }
    }
  }
}

@import "../media"; // Always at the end
