// Main
@import "../main";

.no-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    font-size: 120px;
    line-height: 130px;
    color: $accent;
    margin: 0;
  }

  &-text {
    margin-bottom: 50px;
    font-size: 16px;
    letter-spacing: 1.14px;
  }
}

.my-orders, .wishlist {
  text-align: center;

  &-title {
    font-size: 30px;
    color: $accent;
    margin-bottom: 20px;
  }

  &-text {
    font-size: 16px;
    letter-spacing: 1.14px;
    margin: 20px 0 45px;
  }

  &-grid {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 100px;
  }
}

.wishlist {
  .link-btn {
    margin-top: 50px;
  }
}

.my-orders {
  &-list {
    margin: 60px 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }

  &-item {
    border-bottom: 1px solid $border;

    & + .my-orders-item {
      margin-top: 120px;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        top: 50%;
        border-top: 1px solid $border;
      }
    }

    &__column {
      white-space: nowrap;

      &-head {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.14px;
        color: $hover;
        padding-bottom: 7px;
      }

      &-body {
        font-size: 14px;
        padding-top: 7px;
        color: $accent;

        &._success {
          color: #27AE60;
        }

        &._error {
          color: #EB5757;
        }
      }
    }

    &__grid {
      margin: 50px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 70px;
      grid-row-gap: 50px;

      &-item {
        position: relative;
        display: flex;

        .grid-item {
          &__link {
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }

          &__img {
            width: 130px;
            height: 130px;
            flex: none;
            background-color: #fff;
            overflow: hidden;
            transition: border-color 0.3s;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          &__info-list {
            margin-left: 30px;

            .info-item {
              font-size: 14px;
              font-weight: normal;
              color: $accent;
              text-transform: uppercase;

              &._title {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 15px;
              }

              & + .info-item {
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@import "../media"; // Always at the end
