// Main
@import "../main";

.parallax {
  margin: 10px 0;
  &-bg {
    position: relative;
    &__banner {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: calc(50% + 60px);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .link-btn-special {
      margin: 10px 0 40px;
      padding: 25px 48px;
    }
    .swiper-slide {
      padding: 15px 25px;
    }
    .parallax-card {
      box-shadow: 5px 5px 30px rgba(#000, .06);
    }
  }
  &-banner {
    height: 560px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 70px;
    &__title {
      font-size: 38px;
      line-height: 50px;
      letter-spacing: .5px;
      color: #fff;
      margin-bottom: 60px;
      div {
        font-size: 30px;
        line-height: 38px;
      }
    }
  }
  &-title {
    font-size: 50px;
    letter-spacing: .5px;
    color: $accent;
    padding-top: 80px;
    margin-bottom: 80px;
    div {
      font-size: 30px;
      line-height: 38px;
    }
  }
  &-cards-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &-card {
    width: 310px;
    padding: 5px 20px 40px;
    background-color: #fff;
    &:nth-child(1) {
      margin-left: auto;
    }
    &:nth-child(2) {
      margin-right: auto;
      margin-top: -126px;
    }
    &:nth-child(3) {
      margin-left: auto;
      margin-right: 136px;
      margin-top: -45px;
    }
    &__img {
      width: 220px;
      margin: 0 auto;
    }
    &__title {
      margin: 7px 0 11px;
      font-size: 30px;
      line-height: 38px;
      color: $title;
    }
    &__text {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: .5px;
    }
  }
}

.showroom {
  padding: 180px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  &-card {
    max-width: 520px;
    padding: 63px 47px 43px;
    background-color: rgba(#fff, .8);
    &__title {
      font-size: 30px;
      color: $accent;
      letter-spacing: .5px;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 20px;
      color: $accent;
      letter-spacing: .5px;
      margin-bottom: 40px;
    }
  }
}

.instagram {
  padding: 73px 0 88px;
  &-title {
    font-size: 50px;
    color: $accent;
    margin-bottom: 54px;
    &__subtitle {
      font-size: 30px;
    }
    a {
      text-decoration: none;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    a {
      overflow: hidden;
      img {
        transition: transform .3s;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

@import "../media"; // Always at the end
