// Main
@import "../main";

.order {
  &-form {
    .row-with-margin {
      margin-top: 96px;
    }
    &__label {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .2px;
      color: $accent;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    &__title {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
      li {
        position: relative;
        font-size: 30px;
        letter-spacing: .5px;
        transition: color .3s;
        & + li {
          margin-left: 112px;
        }
        &.active {
          color: $accent;
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border: 8px solid transparent;
            border-top: none;
            border-bottom-color: $accent;
          }
        }
      }
    }
    &__controls {
      margin-top: 50px;
    }
  }
  &-items {
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border-left: 1px solid $border;
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      & > li {
        & + li {
          margin-top: 20px;
        }
      }
    }
    &__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover {
        text-decoration: none;
        color: $accent;
      }
    }
    &__img {
      width: 50px;
      height: 50px;
      transition: border-color .3s;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__info {
      padding-left: 30px;
      flex: 1 1 0%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-block {
        flex: 1 1 0%;
      }
    }
    &__title {
      font-size: 14px;
      letter-spacing: .28px;
      text-transform: uppercase;
    }
    &__size {
      font-size: 14px;
      text-transform: uppercase;
      color: $text;
    }
    &__count {
      width: 10%;
      text-align: center;
      color: $text;
    }
    &__price {
      width: 30%;
      font-size: 14px;
      text-align: right;
      color: $text;
    }
    &__summary {
      margin-top: 40px;
      text-align: right;
      color: $accent;
      &-text {
        font-size: 20px;
      }
      &-value {
        font-size: 25px;
        margin-left: 80px;
      }
    }
  }
  &-success {
    margin-bottom: 60px;
    &__title {
      font-size: 28px;
      color: $accent;
      margin-bottom: 24px;
    }
    &__text {
      font-size: 14px;
    }
    &-info {
      margin: 80px 0 60px;
    }
    &-table {
      &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
        padding: 30px 0;
        border-bottom: 1px solid $border;
        &:first-child {
          border-top: 1px solid $border;
        }
      }
      &__item {
        &-title {
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 4px;
          text-transform: uppercase;
          margin-bottom: 14px;
          color: $accent;
        }
        &-value {
          font-size: 13px;
          letter-spacing: 4px;
          color: $accent;
        }
      }
    }
    &-btn {
      &__text {
        margin-bottom: 24px;
        font-size: 14px;
      }
    }
  }
}

.tab {
  display: none;
  &-title {
    text-align: center;
    font-size: 30px;
    letter-spacing: .5px;
    color: $accent;
    margin-bottom: 50px;
  }
}

@import "../media"; // Always at the end
