// Main
@import "../main";

.product-open {
  &__info {
    margin-left: 100px;
  }
  &__title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1.75px;
    color: $title;
    margin-bottom: 10px;
  }
  &__oldprice {
    font-size: 26.25px;
    font-weight: 500;
    color: $title;
  }
  &__sale {
    font-size: 35px;
    font-weight: 500;
    color: red;
    margin-right: auto;
  }
  &__price {
    font-size: 35px;
    font-weight: 500;
    color: $title;
  }
  &__discountoldprice {
    font-size: 15px;
    font-weight: 500;
    color: $title;
    display: inline-block;
  }
  &__discountprice {
    font-size: 20px;
    font-weight: 500;
    color: red;
    margin-right: auto;
    display: inline-block
  }
  &__btns {
    margin: 40px 0 20px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 11px;
    #addToWish {
      width: 335px;
      .icon-heart_f {
        display: none;
      }
      &:hover {
        background-color: $border;
      }
      &.voted {
        .icon-heart {
          display: none;
        }
        .icon-heart_f {
          display: inline;
        }
      }
    }
    .animation {
      width: 335px;
      .icon-heart_f {
        display: none;
      }
      &:hover {
        background-color: $border;
      }
      &.voted {
        .icon-heart {
          display: none;
        }
        .icon-heart_f {
          display: inline;
        }
      }
    }
  }
  &__warning {
    font-size: 15px;
    font-weight: 300;
    color: $accent;
  }
  &__size-select {
    margin-top: 50px;
    display: flex;
    align-items: center;
    .size-guide-popup__toggle {
      margin-left: 17px;
      font-size: 16px;
    }
  }
  &__description {
    margin-top: 50px;
    &__title {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 3.5px;
      text-transform: uppercase;
      color: $title;
      margin-bottom: 10px;
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        font-size: 14px;
        text-transform: uppercase;
        & + li {
          margin-top: 10px;
        }
      }
    }
  }
}

.size-select__list {
  margin: 0;
  padding: 10px 0 15px;
  list-style-type: none;
  li {
    font-size: 14px;
    color: $hover;
    padding: 4px 30px;
    cursor: pointer;
    transition: background-color .3s;
    &:hover {
      background-color: #f6f6f6;
    }
  }
}

.dropdown {
  position: relative;
  .input-alert {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
  }
  &.active {
    .dropdown-head {
      &::after {
        content: "\e90d";
      }
    }
    .dropdown-body {
      display: block;
    }
  }
  &-head {
    min-width: 210px;
    padding: 20px 60px 20px 30px;
    border: 1px solid $border;
    transition: border-color .3s;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3.5px;
    &::after {
      content: "\e911";
      font-family: "icomoon";
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12px;
    }
    &:hover {
      border-color: $hover;
    }
  }
  &-body {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    width: 100%;
    border: 1px solid $border;
    border-top: 0;
    background-color: #fff;
  }
}

.product-gallery {
  &-top {
    padding-bottom: 45px;
    width: 100%;
    height: 760px;
    .swiper-slide {
      background-color: #fff;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper-lazy-preloader {
      border: 4px solid $border;
      border-top-color: transparent;
    }
    .swiper-button-prev, .swiper-button-next {
      top: auto;
      bottom: 0;
      left: 0;
      right: auto;
      margin-top: 0;
      width: 50px;
      height: 45px;
      background-color: $accent;
      color: #fff;
      &::after {
        font-size: 14px;
      }
    }
    .swiper-button-next {
      left: 50px;
    }
    .swiper-pagination {
      bottom: 12px;
      text-align: right;
      font-size: 13px;
      color: $accent;
    }
  }
  &-thumbs {
    margin-top: 20px;
    width: 100%;
    height: 117px;
    .swiper-slide {
      position: relative;
      cursor: pointer;
      &__border {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        border: 3px solid transparent;
        transition: border-color .5s;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.active {
        .swiper-slide__border {
          border-color: $accent;
        }
      }
    }
  }
}

@import "../media"; // Always at the end
