// Main
@import "../main";

.login, .profile {
  text-align: center;
  &-title {
    font-size: 30px;
    color: $accent;
    margin-bottom: 20px;
  }
  &-text {
    font-size: 16px;
    letter-spacing: 1.14px;
    margin: 20px 0 45px;
  }
  &-form {
    &__inputs {
      margin-bottom: 40px;
      .form-field + .form-field {
        margin-top: 35px;
      }
    }
    &__controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      .restore-password-link {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1.14px;
        text-decoration: underline;
      }
    }
    &__btns {
      display: flex;
      justify-content: space-between;
    }
  }
}

.profile {
  &-title {
    margin-bottom: 40px;
  }
  &-form {
    &__group {
      & + .profile-form__group {
        margin-top: 60px;
      }
      &:last-of-type {
        margin-bottom: 50px;
      }
    }
  }
}

@import "../media"; // Always at the end
