// Main
@import "../main";

.shop {
  &-filters {
    position: relative;
    width: 100%;
    display: flex;
    margin: 30px 0;
    .filter + .filter {
      margin-left: 86px;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 100px;
  }
  &-more-btn {
    margin-top: 100px;
    a {
      padding: 6px;
      text-decoration: none;
      transition: background-color .3s;
      &:hover {
        color: $accent;
        background-color: $border;
      }
    }
  }
  &-category {
    margin-left: 30px;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.range-slider {
	min-width: 280px;
	max-width: 100%;
	margin-bottom: 40px;
  padding: 0 10px;
	.ui-slider {
		margin-bottom: 30px;
    height: 3px;
    border: none;
    background-color: #b0b0b0;
    &-range {
      background-color: $accent;
    }
    &-handle {
      width: 20px;
      height: 20px;
      top: -9px;
      margin-left: -10px;
      border-radius: 0;
      cursor: pointer;
      transition: background-color .3s;
      &.ui-state-default {
        background-color: #fff;
        border-color: $accent;
      }
      &.ui-state-focus {
        outline: none;
      }
      &.ui-state-active {
        background-color: $accent;
      }
    }
	}
	.mse2_number_inputs {
		display: flex;
		justify-content: space-between;
    margin: 0 -10px;
    input {
      width: 65px;
      padding: 6px 0;
      border: 1px solid $border;
      font-size: 16px;
      color: $accent;
      transition: border-color .3s;
      text-align: center;
      &:focus {
        outline: none;
        border-color: $accent;
      }
    }
	}
}

#mse2_mfilter .btn_more {
  width: auto !important;
  margin: 100px auto 0 !important;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 6px;
  text-decoration: none;
  border: none;
  border-radius: 0;
  color: $accent;
  transition: background-color .3s;
  &:hover {
    color: $accent;
    background-color: $border;
  }
  &:focus {
    box-shadow: none;
  }
}

@import "../media"; // Always at the end
