// Main
@import "../main";

.about {
  &-block {
    display: flex;
    align-items: center;
    & + .about-block {
      margin-top: 20px;
    }
  }
  &-img {
    &__first {
      img {
        width: 100%;
        height: auto;
      }
    }
    &__second {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &-title {
    font-size: 30px;
    letter-spacing: .5px;
    color: $accent;
    margin-bottom: 30px;
  }
  &-text {
    font-size: 20px;
  }
}

.boutiques {
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 70px;
    grid-row-gap: 50px;
  }
  &-card {
    &__head {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      &-icon {
        width: 30px;
        height: 30px;
        margin-right: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &-title {
        font-size: 30px;
        color: $accent;
      }
    }
    &__content {
      & > ul {
        margin: 0;
        padding: 0;
        padding-left: 45px;
        list-style-type: none;
        li {
          font-size: 20px;
          & + li {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

.contact {
  &-img {
    &__first {
      text-align: center;
      margin-bottom: 140px;
      img {
        width: 410px;
        height: auto;
      }
    }
    &__second {
      text-align: right;
      img {
        width: 320px;
        height: 320px;
        object-fit: cover;
      }
    }
    &._mobile {
      height: 40vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
  &-info {
    margin-bottom: 50px;
    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
    &__socials {
      margin: 0;
      margin-bottom: 50px;
      padding: 0;
      list-style-type: none;
      display: flex;
      li {
        & + li {
          margin-left: 40px;
        }
        a {
          display: block;
          text-decoration: none;
          color: #2d3344;
          &:hover {
            color: $hover;
          }
          i {
            display: block;
          }
        }
      }
    }
    &__link {
      &-title {
        font-size: 14px;
        margin-bottom: 12px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          & + li {
            margin-top: 10px;
          }
          a {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1.14px;
          }
        }
      }
    }
  }
  &-form {
    &__title {
      font-size: 30px;
      letter-spacing: .5px;
      color: $accent;
      margin-bottom: 40px;
    }
    &__btns {
      margin-top: 60px;
    }
  }
}

.shipping {
  text-align: center;
  &-title {
    text-align: left;
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: $accent;
  }
  &-text {
    text-align: left;
    margin-bottom: 100px;
    font-size: 15px;
    max-width: 770px;
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      text-decoration: underline;
    }
  }
}

@import "../media"; // Always at the end
