extends layout/default.pug

block variables
  - var title = "Katrine K | 404"

block styles
  include modules/styles.pug
  link(href="../css/pages/default-page.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/404_desk.jpg" data-src-mobile="../img/section-hero/404_mob.jpg")
    section.section.no-page
      h1.no-page-title 404
      .no-page-text page not found
      a(href='shop.html').link-btn continue shopping
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
