extends layout/default.pug

block variables
  - var title = "Katrine K | About"

block styles
  include modules/styles.pug
  link(href="../css/pages/simple-page.min.css" rel="stylesheet")

block content
  // MAIN
  main.main(data-header-compensate)
    section.section.about
      .container
        h1.section-title About
        .row.justify-content-center
          .col-lg-10
            .about-block.row
              .col-lg-3.col-md-4.p-md-0
                .about-img__first
                  picture
                    source(media='(max-width: 767px)' srcset='../img/about/about_1_mobile.jpg')
                    source(media='(min-width: 768px)' srcset='../img/about/about_1.jpg')
                    img(src='../img/about/about_1.jpg')
              .col-lg-9.col-md-8.pl-md-4
                .about-content
                  .about-title Katrine K.
                  .about-text Katrine K. is a brand of collectable pieces that women take joy in wearing and feel irresistible in. All garments are made from luxurious fibres and feature handmade decor, meticulously produced by the best industry professionals, making women feel confident and unique. Enriching women's lives with a feeling of inner power and the joy of celebrating beauty is the fundamental goal and noble dream of the brand. Under the creative director’s virtuous vision a comprehensive design team, sharing a new connotation of chic, was gathered to form the mastermind behind the Katrine K. creations.
            .about-block.row
              .col-lg-3.col-md-4.p-md-0
                .about-img__second
                  img(src='../img/about/about_2.jpg')
              .col-lg-9.col-md-8.pr-md-4.order-md-first
                .about-content
                  .about-text.text-md-right Katrine K. can be proudly considered as one of the pioneers in creating and developing ready-to-couture phenomenon. Shaping the new cultural derivation in fashion is always challenging way but the brand strives to be among the leaders of the new era. Simple but elegant pieces of highest quality give our customers feeling of being confident under any circumstances.
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
