extends layout/default.pug

block variables
  - var title = "Katrine K | Boutiques"

block styles
  include modules/styles.pug
  link(href="../css/pages/simple-page.min.css" rel="stylesheet")

block content
  // MAIN
  main.main(data-header-compensate)
    section.section
      .container
        h1.section-title Boutiques
        .row.justify-content-center
          .col-lg-10
            .boutiques-grid
              +boutique("Ukraine")(style='background-image: url("../img/boutiques/ukraine.png")')
                ul
                  li Alland Boutique – Kyiv
              +boutique("Qatar")(style='background-image: url("../img/boutiques/qatar.png")')
                ul
                  li Glamour
                  li Ortensia Boutique
                  li V Style – Doha
              +boutique("Beirut")(style='background-image: url("../img/boutiques/beirut.png")')
                ul
                  li Piaff Boutique – Lebanon
                  li Piaff – Lebanon
                  li Rive Droite – Beirut Lebanon
              +boutique("Saudi Arabia")(style='background-image: url("../img/boutiques/saudi_arabia.png")')
                ul
                  li Bloom
                  li Avanti
                  li The Vault
                  li Silhouette Fashion
              +boutique("Dubai")(style='background-image: url("../img/boutiques/dubai.png")')
                ul
                  li B More
              +boutique("Kuwait")(style='background-image: url("../img/boutiques/kuwait.png")')
                ul
                  li Designers Lounge
              +boutique("Bahrain")(style='background-image: url("../img/boutiques/bahrain.png")')
                ul
                  li Incanto Boutique
              +boutique("Ireland")(style='background-image: url("../img/boutiques/ireland.png")')
                ul
                  li The Ivory
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
