extends layout/default.pug

block variables
  - var title = "Katrine K | Cart"

block styles
  include modules/styles.pug
  link(href="../css/pages/cart.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/cart_desk.jpg" data-src-mobile="../img/section-hero/cart_mob.jpg")
    section.section
      .container
        h1.section-title Cart
        .cart
          .cart-title My Goods
          .cart-text Your Cart Is Empty
          a(href='shop.html').link-btn continue shopping
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/cart.min.js')
