extends layout/default.pug

block variables
  - var title = "Katrine K | Cart"

block styles
  include modules/styles.pug
  link(href="../css/pages/cart.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/cart_desk.jpg" data-src-mobile="../img/section-hero/cart_mob.jpg")
    section.section
      .container
        h1.section-title Cart
        form.cart__form
          .cart__form__counter.d-md-none (#[span 3] items)
          .cart__form__head
            .cart__form__head-title.text-md-center Item Details
            .cart__form__head-title.justify-self-center Price
            .cart__form__head-title.justify-self-center QTY
            .cart__form__head-title.text-right Total
          .cart__form__body
            ul.cart__form__list
              +cart-form-item("Pink Dress", "€ 548", 1, "XL")
              +cart-form-item("Obsidian Dress", "€ 459", 1, "S")
              +cart-form-item("Onyx Dress", "€ 764", 1, "XS")
          .cart__form__footer
            .cart__form__footer-warning Free DHL shipping on all orders over 500€
            .cart__form__footer-summary
              span.cart__form__footer-summary__text Total Amount
              span.cart__form__footer-summary__value € #[span 1771]
          .cart__form__submit
            button(type='submit').button Order

block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/cart.min.js')
