extends layout/default.pug

block variables
  - var title = "Katrine K | Contact Us"

block styles
  include modules/styles.pug
  link(href="../css/pages/simple-page.min.css" rel="stylesheet")

block content
  // MAIN
  main.main(data-header-compensate)
    section.section.contact
      .container
        h1.section-title Contacts
      .container-fluid.p-0.d-md-none
        .contact-img._mobile
          img(src='../img/contact-us/contact-us_1_mobile.jpg' alt='')
      .container
        .row
          .col-md-5.pr-lg-5.d-none.d-md-block
            .contact-img
              .contact-img__first
                img(src='../img/contact-us/contact-us_1_mobile.jpg' alt='')
              .contact-img__second
                img(src='../img/contact-us/contact-us_2_desk.jpg' alt='')
          .col-lg-5.col-md-7.pl-lg-5
            .contact-info
              ul.contact-info__socials
                +link("#")
                  i.icon-fb
                +link("#")
                  i.icon-insta
                +link("#")
                  i.icon-pinterest
              .contact-info__grid
                .contact-info__link
                  .contact-info__link-title Email
                  ul
                    +link("mailto:sales@katrine-k.com", "sales@katrine-k.com")
                    +link("mailto:info@katrine-k.com", "info@katrine-k.com")
                .contact-info__link
                  .contact-info__link-title Phone
                  ul
                    +link("tel:+380950103810", "+380950103810")
                .contact-info__link
                  .contact-info__link-title Messages
                  ul
                    +link("https://wa.me/33607939590", "+33607939590")
            form#contactForm.contact-form
              .contact-form__title Have a question?
              .form-inputs-column
                .form-field
                  label.form-label name
                  input(type="text" placeholder='Your Name').form-input
                .form-field
                  label.form-label email
                  input(type="text" placeholder='Your Email').form-input
                .form-field
                  label.form-label message
                  textarea(placeholder='Your Message').form-input
              .contact-form__btns
                button(type='submit').button send
    .d-none
      include modules/popups/contact_success.pug
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/contact.min.js')
