extends layout/default.pug

block variables
  - var title = "Katrine K"

block styles
  include modules/styles.pug
  link(href="../css/pages/index.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    include modules/main-banner.pug
    section.parallax
      .parallax-banner.d-lg-none(style='background-image: url("../img/parallax/parallax-bg_mobile.jpg")')
        .container.text-center
          .parallax-banner__title LOOK OF THE WEEK
            div Spring-Summer ‘20
          a(href='shop.html').link-btn-special Shop
      .parallax-swiper-container.d-lg-none
        .parallax-swiper.swiper-container
          .swiper-wrapper
            .swiper-slide
              +parallax-card('../img/parallax/cards/1.jpg', 'Embroidered Earrings', 'Multicolored Embroidered Earrings Handmade')
            .swiper-slide
              +parallax-card('../img/parallax/cards/2.jpg', 'Classic Tailored Jacket', 'Rhinestone-Embellished Midi Dress')
            .swiper-slide
              +parallax-card('../img/parallax/cards/3.jpg', 'Side-Slit Skirt', 'Assymetric Side-Slit Skirt With a Ruffled Detail')
          .swiper-pagination
      .parallax-bg.d-none.d-lg-block
        .parallax-bg__banner(style="background-image: url('../img/parallax/parallax-bg.jpg')")
        .container.text-center.position-relative
          .parallax-title LOOK OF THE WEEK
            div Spring-Summer ‘20
        .container.position-relative
          .row.justify-content-end
            .col-7
              .parallax-swiper.swiper-container
                .swiper-wrapper
                  .swiper-slide
                    +parallax-card('../img/parallax/cards/1.jpg', 'Embroidered Earrings', 'Multicolored Embroidered Earrings Handmade')
                  .swiper-slide
                    +parallax-card('../img/parallax/cards/2.jpg', 'Classic Tailored Jacket', 'Rhinestone-Embellished Midi Dress')
                  .swiper-slide
                    +parallax-card('../img/parallax/cards/3.jpg', 'Side-Slit Skirt', 'Assymetric Side-Slit Skirt With a Ruffled Detail')
                .swiper-pagination
        .container.position-relative
          .row
            .col-6.text-center
              a(href='shop.html').link-btn-special Shop
    section.showroom(data-responsive-bg data-src-desk="../img/showroom-bg.jpg" data-src-mobile="../img/showroom-bg_mobile.jpg")
      .showroom-card.text-center
        .showroom-card__title Paris Showroom
        .showroom-card__text
          | Katrine K. Couture will be in Paris from February 26th till March 3rd, represented by Mosaique Showroom, Mona de Bismarck American Center.
          br
          | By appointments only.
        a(href='https://www.showroom-mosaique.com' target='_blank').link-btn-inverse Check the news
    section.instagram
      .container
        .instagram-title.text-center
          .instagram-title__subtitle Instagram
          a(href='https://www.instagram.com/katrine.k.couture/' target='_blank') @katrine.k.couture
        .instagram-grid
          a(href='#' data-square).d-block
            img(data-src='../img/instagram/1.png' alt='').lazy.img-cover
          a(href='#' data-square).d-block
            img(data-src='../img/instagram/2.png' alt='').lazy.img-cover
          a(href='#' data-square).d-none.d-md-block
            img(data-src='../img/instagram/3.png' alt='').lazy.img-cover
          a(href='#' data-square).d-none.d-md-block
            img(data-src='../img/instagram/4.png' alt='').lazy.img-cover
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/index.min.js')
