extends layout/default.pug

block variables
  - var title = "Katrine K | Login"

block styles
  include modules/styles.pug
  link(href="../css/pages/profile.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/login_desk.jpg" data-src-mobile="../img/section-hero/login_mob.jpg")
    section.section
      .container
        h1.section-title Login
        .login
          .login-title Thank you!
          .login-text Congratulations! Your new account has been successfully creared.
          a(href='shop.html').link-btn continue shopping
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
