extends layout/default.pug

block variables
  - var title = "Katrine K | Login"

block styles
  include modules/styles.pug
  link(href="../css/pages/profile.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/login_desk.jpg" data-src-mobile="../img/section-hero/login_mob.jpg")
    section.section
      .container
        h1.section-title Login
        .row.justify-content-center
          .col-lg-10
            .row
              #login.col-lg-6.pr-lg-4
                form#loginForm.login-form
                  .login-title Sing in to your account
                  .login-text Please enter your email and password to access your account and shopping preferences.
                  .login-form__inputs
                    .form-field
                      label.form-label email
                      input(type="text" placeholder='Your Email').form-input
                      span.input-alert * Required Field
                    .form-field
                      label.form-label password
                      input(type="password" placeholder='Your Password').form-input
                      span.input-alert * Required Field
                  .login-form__controls
                    +checkbox("Keep me logged in", true)
                    a(href='javascript:;').restore-password-link.js-popup-restore Forgot your password?
                  .login-form__btns
                    button(type='submit').button login
                    button(type='button')#showRegistration.button-inverse.d-lg-none register now
              #registration.col-lg-6.pl-lg-4
                form#registrationForm.login-form
                  .login-title Register now
                  .login-text Create an account to enjoy a personalized shopping experience.
                  .login-form__inputs
                    .form-field
                      label.form-label first name
                      input(type="text" placeholder='John').form-input
                      span.input-alert * Required Field
                    .form-field
                      label.form-label last name
                      input(type="text" placeholder='Doe').form-input
                      span.input-alert * Required Field
                    .form-field
                      label.form-label email
                      input(type="text" placeholder='Your Email').form-input
                      span.input-alert * Required Field
                    .form-field
                      label.form-label telephone
                      input(type="tel" placeholder='Your Telephone').form-input
                      span.input-alert * Required Field
                    .form-field
                      label.form-label password
                      input(type="password" name="password" placeholder='Your Password').form-input
                      span.input-alert * Required Field
                    .form-field
                      label.form-label confirm password
                      input(type="password" name="repassword" placeholder='Confirm Password').form-input
                      span.input-alert * Passwords Aren't Equal
                  button(type='submit').button register now
    .d-none
      include modules/popups/restore.pug
      include modules/popups/restore_success.pug
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/login.min.js')
