extends layout/default.pug

block variables
  - var title = "Katrine K | My Orders"

block styles
  include modules/styles.pug
  link(href="../css/pages/default-page.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/profile_desk.jpg" data-src-mobile="../img/section-hero/profile_mob.jpg")
    section.section
      .container
        h1.section-title Orders history
        .my-orders
          .my-orders-title My Orders
          .my-orders-text You have 2 orders.
          ul.my-orders-list
            li.my-orders-item
              .my-orders-item__row
                .my-orders-item__column
                  .my-orders-item__column-head Order №
                  .my-orders-item__column-body 36578988
                .my-orders-item__column
                  .my-orders-item__column-head Placed on
                  .my-orders-item__column-body 12/02/2020
                .my-orders-item__column
                  .my-orders-item__column-head Status
                  .my-orders-item__column-body._success Delivered
                .my-orders-item__column
                  .my-orders-item__column-head Price
                  .my-orders-item__column-body € 89.97
              .my-orders-item__grid
                +orders-item("Obsidian dress", 1, "€ 28.99", "XS")
                +orders-item("Pink dress", 1, "€ 328.99", "XL")
                +orders-item("Onyx dress", 1, "€ 149.99", "S")
            li.my-orders-item
              .my-orders-item__row
                .my-orders-item__column
                  .my-orders-item__column-head Order №
                  .my-orders-item__column-body 36578988
                .my-orders-item__column
                  .my-orders-item__column-head Placed on
                  .my-orders-item__column-body 12/02/2020
                .my-orders-item__column
                  .my-orders-item__column-head Status
                  .my-orders-item__column-body._error Canceled
                .my-orders-item__column
                  .my-orders-item__column-head Price
                  .my-orders-item__column-body € 89.97
              .my-orders-item__grid
                +orders-item("Pink dress", 1, "€ 2628.99", "XXL")
          a(href='shop.html').link-btn continue shopping
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
