extends layout/default.pug

block variables
  - var title = "Katrine K | My Orders"

block styles
  include modules/styles.pug
  link(href="../css/pages/default-page.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/profile_desk.jpg" data-src-mobile="../img/section-hero/profile_mob.jpg")
    section.section
      .container
        h1.section-title Orders history
        .my-orders
          .my-orders-title My Orders
          .my-orders-text You don't have orders yet.
          a(href='shop.html').link-btn continue shopping
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
