extends layout/default.pug

block variables
  - var title = "Katrine K | Order"

block styles
  include modules/styles.pug
  link(href="../css/pages/order.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/shipping_desk.jpg" data-src-mobile="../img/section-hero/shipping_mob.jpg")
    section.section
      .container
        h1.section-title Order Details
        .row.justify-content-center
          .col-lg-8
            .order-form__container
              ul.order-form__title
                li Shipping Address
                li Payment
              form#orderForm.order-form
                #firstTab.tab
                  .tab-title.d-md-none Shipping Address
                  .form-inputs-row
                    .row
                      .col-md-6
                        .form-field
                          label.form-label first name*
                          input(type="text" placeholder='John').form-input
                          span.input-alert * Required Field
                      .col-md-6
                        .form-field
                          label.form-label last name*
                          input(type="text" placeholder='Doe').form-input
                          span.input-alert * Required Field
                  .form-inputs-row
                    .row
                      .col-md-4
                        .form-field
                          label.form-label country*
                          select#countrySelect
                            option(value="" selected disabled) Select your country
                            option(value="Afganistan") Afganistan
                            option(value="Bermuda") Bermuda
                            option(value="Colombia") Colombia
                            option(value="Iraq") Iraq
                            option(value="Niger") Niger
                            option(value="Somalia") Somalia
                            option(value="Togo") Togo
                            option(value="Zimbabwe") Zimbabwe
                          span.input-alert * Required Field
                      .col-md-4
                        .form-field
                          label.form-label city*
                          input(type="text" placeholder='e.g. London').form-input
                          span.input-alert * Required Field
                      .col-md-4
                        .form-field
                          label.form-label zipcode*
                          input(type="text" placeholder='e.g. 358745').form-input
                          span.input-alert * Required Field
                  .form-inputs-row
                    .form-field
                      label.form-label address*
                      input(type="text" placeholder='e.g. 2nd steer, Costrica, Uk 354548').form-input
                      span.input-alert * Required Field
                  .form-inputs-row.row-with-margin
                    .row
                      .col-md-4
                        .form-field
                          label.form-label email*
                          input(type="text" placeholder='user@mail.com').form-input
                          span.input-alert * Required Field
                      .col-md-4
                        .form-field.mb-0
                          label.form-label telephone*
                          input(type="text" placeholder='Telephone').form-input
                          span.input-alert * Required Field
                  .order-form__controls
                    .row
                      .col
                        a(href='cart.html').link-btn-inverse Back
                      .col.text-right
                        button(type='button')#next.button Next
                #secondTab.tab
                  .tab-title.d-md-none Payment
                  .row
                    .col-md-6.pl-lg-4
                      .order-form__label Payment method
                      .radio-list
                        +radio("payment", "Credit Card / Debit Card", true)
                        +radio("payment", "LiqPay")
                    .col-md-6.pr-lg-4.order-md-first.order-items
                      .order-form__label Your Order
                      ul.order-items__list
                        +order-item("Pink dress", "36", 1,  "€ 328.99")
                        +order-item("Obsidian dress", "38", 1,  "€ 128.99")
                        +order-item("Isabella dress", "40", 1,  "€ 69.99")
                      .order-items__summary
                        span.order-items__summary-text Total Amount
                        span.order-items__summary-value € 1488
                  .order-form__controls
                    .row
                      .col
                        button(type='button')#back.button-inverse Back
                      .col.px-md-4
                        button(type='submit')#pay.button.w-100 Pay
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/order.min.js')
