extends layout/default.pug

block variables
  - var title = "Katrine K | Order"

block styles
  include modules/styles.pug
  link(href="../css/pages/order.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/shipping_desk.jpg" data-src-mobile="../img/section-hero/shipping_mob.jpg")
    section.section
      .container
        h1.section-title Order Details
        .row
          .col-12
            .order-success
              .order-success__title Your Order Has Been Placed
              .order-success__text Thank you for your purchase.
          .col-md-4
            .order-form__label Your Order №395970
            ul.order-items__list
              +order-item("Pink dress", "36", 1,  "€ 328.99")
              +order-item("Obsidian dress", "38", 1,  "€ 128.99")
              +order-item("Isabella dress", "40", 1,  "€ 69.99")
            .order-items__summary
              span.order-items__summary-text Total Amount
              span.order-items__summary-value € 1488
          .col-12
            .order-success-info
              .order-form__label Information about order
              .order-success-table
                .order-success-table__row
                  .order-success-table__item
                    .order-success-table__item-title First name
                    .order-success-table__item-value John
                  .order-success-table__item
                    .order-success-table__item-title Last name
                    .order-success-table__item-value Doe
                  .order-success-table__item
                    .order-success-table__item-title Email
                    .order-success-table__item-value kravetsyana13@gmail.com
                  .order-success-table__item
                    .order-success-table__item-title Telephone
                    .order-success-table__item-value +70698945225
                .order-success-table__row
                  .order-success-table__item
                    .order-success-table__item-title Country
                    .order-success-table__item-value United Kingdom (UK)
                  .order-success-table__item
                    .order-success-table__item-title Town / City
                    .order-success-table__item-value London
                  .order-success-table__item
                    .order-success-table__item-title Address
                    .order-success-table__item-value 2nd steer, Costrica, Uk 354548
                  .order-success-table__item
                    .order-success-table__item-title Payment
                    .order-success-table__item-value Paypal
          .col-12
            .order-success-btn
              .order-success-btn__text We are waiting for you on our site again!
              a(href='shop.html').link-btn continue shopping
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/order.min.js')
