extends layout/default.pug

block variables
  - var title = "Katrine K | Product"

block styles
  include modules/styles.pug
  link(href="../css/pages/product.min.css" rel="stylesheet")

block content
  // MAIN
  main.main(data-header-compensate)
    section.section.product-open.no-size
      .container
        .row
          .col-lg-5
            .swiper-container.product-gallery-top
              .swiper-wrapper
                .swiper-slide
                  img(data-src='../img/product-gallery/1.jpg').swiper-lazy
                  .swiper-lazy-preloader
                .swiper-slide
                  img(data-src='../img/product-gallery/2.jpg').swiper-lazy
                  .swiper-lazy-preloader
              .swiper-pagination
              .swiper-button-prev
              .swiper-button-next
            .swiper-container.product-gallery-thumbs
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__border
                  img(src='../img/product-gallery/thumbs/1.jpg')
                .swiper-slide
                  .swiper-slide__border
                  img(src='../img/product-gallery/thumbs/2.jpg')
          .col-lg-7
            .product-open__info
              .product-open__descr
                .product-open__title Sequin-Embellished Jumpsuit
                .product-open__price € 399.95
              .product-open__btns
                button(type='button' data-add="Added to your cart")#addToCart.button Add to cart
                button(type='button' data-add="Added to your wish list" data-remove="Removed from your wish list")#addToWish.button-inverse #[i.icon-heart]#[i.icon-heart_f] Add to wishlist
              .product-open__warning Free DHL shipping on all orders over 500€
              .product-open__description
                .product-open__description__title Description
                ul.product-open__description__list
                  li 100% POLYESTER
                  li LINING:
                  li 100% VISCOSE
                  li 98% SILK 2% ELASTANE
    include modules/recommended
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/shop.min.js')
  script(src='../js/product.min.js')
