extends layout/default.pug

block variables
  - var title = "Katrine K | Profile"

block styles
  include modules/styles.pug
  link(href="../css/pages/profile.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/profile_desk.jpg" data-src-mobile="../img/section-hero/profile_mob.jpg")
    section.section
      .container
        h1.section-title Profile
        .row.justify-content-center
          .col-lg-8
            form#profileForm.profile-form
              .profile-form__group
                .profile-title.text-center Your Information
                .form-inputs-row
                  .row
                    .col-md-4
                      .form-field
                        label.form-label title
                        select
                          option(value="" disabled) Choose one of the following...
                          option(value='Mrs' selected) Mrs
                          option(value='Mr') Mr
                    .col-md-4
                      .form-field
                        label.form-label first name
                        input(type="text" value="Jane" placeholder='Your Name').form-input
                    .col-md-4
                      .form-field
                        label.form-label last name
                        input(type="text" value="Doe" placeholder='Your Last Name').form-input
                .form-inputs-row
                  .row
                    .col-md-4
                      .form-field
                        label.form-label country
                        select
                          option(value="" disabled) Select your country
                          option(value="Afganistan") Afganistan
                          option(value="Bermuda") Bermuda
                          option(value="Colombia") Colombia
                          option(value="Iraq" selected) Iraq
                          option(value="Niger") Niger
                          option(value="Somalia") Somalia
                          option(value="Togo") Togo
                          option(value="Zimbabwe") Zimbabwe
                    .col-md-4
                      .form-field
                        label.form-label city
                        input(type="text" value="Baghdad" placeholder='Your City').form-input
                    .col-md-4
                      .form-field
                        label.form-label zipcode
                        input(type="text" value="358745" placeholder='Your Zipcode').form-input
                .form-inputs-row
                  .row
                    .col-md-8
                      .form-field
                        label.form-label address
                        input(type="text" value="2nd steer, Costrica, Uk 354548" placeholder='Your Address').form-input
                    .col-md-4
                      .form-field
                        label.form-label birthdate
                        input(type="text" value="")#datePicker.form-input
              .profile-form__group
                .profile-title.text-center Account Details
                .form-inputs-row
                  .row
                    .col-md-4
                      .form-field
                        label.form-label email
                        input(type="text" value="jane69@mail.com" placeholder='Your Email').form-input
                    .col-md-4
                      .form-field
                        label.form-label password
                        input(type="text" value="bukkakeqween" placeholder='Your Password').form-input
                    .col-md-4
                      .form-field
                        label.form-label telephone
                        input(type="text" value="+61 1234567890" placeholder='Your Telephone').form-input
              button(type='submit').button save changes
    .d-none
      include modules/popups/save_success.pug
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/profile.min.js')
