extends layout/default.pug

block variables
  - var title = "Katrine K | Public Offer"

block styles
  include modules/styles.pug
  link(href="../css/pages/simple-page.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/404_desk.jpg" data-src-mobile="../img/section-hero/404_mob.jpg")
    section.section
      .container
        h1.section-title Public Offer
        .row.justify-content-center.shipping
          .col-lg-11
            .shipping-title Public Offer Agreement
            .shipping-text
              p
                br
                | 1. General Provisions
                br
                br
                | 1.1. This offer, in accordance with the Civil Code of Ukraine, is the official offer of the store #[a(href="https://katrinekcouture.com/") «https://katrinekcouture.com/»], hereinafter referred to as the "Seller", to conclude a contract for the sale of goods remotely, that is, through an online store, hereinafter “Agreement”, and places the Public Offer (offer) on the Seller’s official website #[a(href="https://katrinekcouture.com/") «https://katrinekcouture.com/»] (hereinafter “the Website”).
                br
                br
                | 1.2. The moment of full and unconditional acceptance by the Buyer of the Seller’s offer (acceptance) to conclude a contract of sale of goods is considered the fact that the Buyer placed an order on the terms of this Agreement, at the time and at the prices indicated on the Seller’s website.
            a(href='shop.html').link-btn continue shopping
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
