extends layout/default.pug

block variables
  - var title = "Katrine K | Shipping Info"

block styles
  include modules/styles.pug
  link(href="../css/pages/simple-page.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/404_desk.jpg" data-src-mobile="../img/section-hero/404_mob.jpg")
    section.section
      .container
        h1.section-title Shipping Info
        .row.justify-content-center.shipping
          .col-lg-11
            .shipping-title Order Tracking
            .shipping-text
              p Shortly after paying for your order, you will receive an email with a DHL tracking number attached.
              p In the rare case, if we have difficulty in checking the order, you will receive an email with all the details of the problem and a possible request for additional information.
              p You can also visit #[a(href="https://www.dhl.com/") DHL] website to check your delivery status.
              p To do this, you will need a tracking number, which will be provided to you after the order is sent.
            a(href='shop.html').link-btn continue shopping
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
