extends layout/default.pug

block variables
  - var title = "Katrine K | Shop"
  - var contacts = true

block styles
  include modules/styles.pug
  link(href="../css/pages/shop.min.css" rel="stylesheet")

block content
  // MAIN
  main.main(data-header-compensate)
    section.section.shop
      .container
        h1.section-title Shop#[span.shop-category Dresses]
        .shop-filters
          .filter.filter-full
            .filter-toggle Category#[i.icon-down]
            .filter-container
              ul.links-list.checkbox-grid
                li.active
                  a(href='shop.html') Dresses
                +link("shop.html", "Suits")
                +link("shop.html", "Jumpsuits")
                +link("shop.html", "Trousers")
                +link("shop.html", "Skirts")
                +link("shop.html", "Jackets")
                +link("shop.html", "Tops")
                +link("shop.html", "Blouses")
                +link("shop.html", "Bodysuits")
                +link("shop.html", "Accessories")
                +link("shop.html", "Foulards")
                +link("shop.html", "Corsets")
                +link("shop.html", "Shorts")
                +link("shop.html", "Bags")
          .filter.filter-full
            .filter-toggle Filter#[i.icon-down]
            .filter-container
              .filter-row
                .filter-section
                  .filter-section__title Price
                  .range-slider
                    #slider
                    .mse2_number_inputs
                      input(type='text')
                      input(type='text')
                .filter-section
                  .filter-section__title Color
                  ul.checkbox-list
                    li
                      +checkbox("Black")
                    li
                      +checkbox("White")
                    li
                      +checkbox("Creme")
                    li
                      +checkbox("Gold")
                    li
                      +checkbox("Silver")
                    li
                      +checkbox("Bronze")
                    li
                      +checkbox("Navy")
                    li
                      +checkbox("Pink")
                    li
                      +checkbox("Beige")
                    li
                      +checkbox("Grey check")
                    li
                      +checkbox("Bordo")
                    li
                      +checkbox("Red")
                    li
                      +checkbox("Green")
                    li
                      +checkbox("Blue")
                    li
                      +checkbox("Orange")
                    li
                      +checkbox("Mustard")
                    li
                      +checkbox("Lemon")
                    li
                      +checkbox("Multi")
                    li
                      +checkbox("Fuchsia")
                    li
                      +checkbox("Purple/violet")
                    li
                      +checkbox("Peach")
              button.button-inverse.filter-clear Clear
          .filter
            .filter-toggle Collections#[i.icon-down]
            .filter-container
              ul.checkbox-list
                li
                  +checkbox("Spring-summer '20")
                li
                  +checkbox("Autumn-winter '19")
                li
                  +checkbox("Resort")
              button.button-inverse.filter-clear Clear
        .shop-grid
          +product(true)
          - var n = 0
          while n < 11
            +product(false)
            - n++
        .shop-more-btn.text-center
          a(href='javascript:;').link-big View more
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/shop.min.js')
