extends layout/default.pug

block variables
  - var title = "Katrine K | Wishlist"

block styles
  include modules/styles.pug
  link(href="../css/pages/default-page.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    section.section-hero(data-responsive-bg data-src-desk="../img/section-hero/cart_desk.jpg" data-src-mobile="../img/section-hero/cart_mob.jpg")
    section.section
      .container
        h1.section-title Wishlist
        .wishlist
          .wishlist-title Saved items
          .wishlist-text You Have #[span.wishlist-value 3] Saved Items
          .wishlist-grid
            +product(true)
            +product(true)
            +product(true)
          a(href='shop.html').link-btn continue shopping
    include modules/recommended
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/wishlist.min.js')
