a(href='javascript:;' data-toggle="popover" data-placement="top").contacts-btn
  i.icon-phone
.d-none.popover-content
  ul.contacts-btn__list
    +link("#") 
      | #[i.icon-messenger_r]messenger
    +link("#") 
      | #[i.icon-telegram_r]telegram
    +link("#") 
      | #[i.icon-whatsapp_r]whatsapp
    +link("#") 
      | #[i.icon-email_r]email
    +link("#") 
      | #[i.icon-phone_r]telephone
