.cookies
  i.icon-close.cookies-close(data-cookies-close)
  .cookies-container
    .cookies-text
        | This website uses third-party profiling cookies to send advertising messages in line with your preferences. If you wish, you can authorize the use of cookies by clicking on "accept cookies". If you want more information about the cookies used,  #[a(href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank").text-underline click here].
    .cookies-btn
      a(href='javascript:;' data-cookies-close).link-big Accept cookies
