// FOOTER
footer.footer
  .container.d-flex.justify-content-between.align-items-start
    .footer-nav
      ul.footer-nav__list
        +link("index.html", "Home")
        +link("shop.html", "Shop")
        +link("about.html", "About us")
        +link("boutiques.html", "Boutiques")
        +link("contacts.html", "Contacts")
        +link("shipping.html", "Shipping info")
        +link("public-offer.html", "Public offer")
    .footer-socials
      ul.footer-socials__list
        +link("#")
          i.icon-insta
        +link("#")
          i.icon-fb
        +link("#")
          i.icon-pinterest
  .container.d-flex.justify-content-between.align-items-start.mt-2
    .developers developed by #[a(href='https://www.behance.net/yanylik' target="_blank") TYD]
    .payments-img
      img(src='../../img/payments.png')
include cookies-alert.pug
if contacts
  include contacts-btn.pug
