// HEADER
header.header
  include side-menu.pug
  .container.d-flex.position-relative
    .header-left.d-flex
      .side-menu-toggle.d-lg-none.align-self-center
      .header-lang-switch.d-none.d-lg-flex.align-items-center
        a(href="javascript:;" data-toggle="popover" data-placement="bottom").header-lang-switch__toggle en #[i.icon-down]
        .d-none.popover-content
          .d-flex.flex-column
            a(href='#').header-lang-switch__link.active en
            a(href='#').header-lang-switch__link ru
      .header-nav.d-none.d-lg-flex.align-items-center
        ul.header-nav__list
          li
            a(href='shop.html' data-toggle="header-submenu" data-submenu-index="1").header-nav__link Shop
          +link("about.html", "About").header-nav__link
          +link("boutiques.html", "Boutiques").header-nav__link
          +link("contacts.html", "Contacts").header-nav__link
    .header-center.d-flex.align-items-center
      a(href="index.html").d-block
        img(src="../img/logo.svg" alt='').img
    .header-right.d-flex.justify-content-end
      .header-controls.d-flex.align-items-center
        a(href='javascript:;' data-toggle="popover" data-placement="bottom").d-none.d-lg-block.header-controls__account
          i.icon-account
        .d-none.popover-content
          if !empty
            ul.popover-content__links-list
              +link("my-orders.html", "My orders")
              +link("wishlist.html", "Wishlist")
              +link("profile.html", "Profile")
              +link("#", "Sign out")
          else
            .popover-content__subtitle.text-center Account
            .popover-content__text.text-center In order to access your personal data you should log in
            a(href="login.html").link-btn Log in
        a(href='javascript:;' data-toggle="popover" data-placement="bottom").d-none.d-lg-block.header-controls__wish
          i.icon-heart_f
        .d-none.popover-content
          .popover-content__subtitle.text-center Saved Items
          if !empty
            .wishlist-full-content
              ul.popover-content__list
                +wish-item("Odsidian dress", "€ 28.99")
                +wish-item("Pink dress", "€ 369.99")
                +wish-item("Ivory dress", "€ 137.69")
                +wish-item("Onyx dress", "€ 777.99")
              a(href="wishlist.html").link-btn View my saved items
            .wishlist-empty-content.d-none
              .popover-content__text.text-center You currently don't have any items in your wish list
              a(href="shop.html").link-btn Shop now
          else
            .wishlist-full-content.d-none
              ul.popover-content__list
                +wish-item("Odsidian dress", "€ 28.99")
                +wish-item("Pink dress", "€ 369.99")
                +wish-item("Ivory dress", "€ 137.69")
                +wish-item("Onyx dress", "€ 777.99")
              a(href="wishlist.html").link-btn View my saved items
            .wishlist-empty-content
              .popover-content__text.text-center You currently don't have any items in your wish list
              a(href="shop.html").link-btn Shop now
        a(href='cart.html').d-lg-none.header-controls__cart
          i.icon-cart
          if !empty
            span.cart-count 2
        a(href='javascript:;' data-toggle="popover" data-placement="bottom").d-none.d-lg-block.header-controls__cart
          i.icon-cart
          if !empty
            span.cart-count 2
        .d-none.popover-content
          .popover-content__subtitle.text-center Shopping bag
          if !empty
            .cart-full-content
              ul.popover-content__list.cart-list
                +cart-item("Odsidian dress", 1, "€ 28.99", "XS")
                +cart-item("Pink dress", 1, "€ 369.99", "L")
              .cart-total
                .cart-total__text Total
                .cart-total__value € 398.98
              a(href="cart.html").link-btn Checkout
            .cart-empty-content.d-none
              .popover-content__text.text-center You currently don't have any items in your bag
              a(href="shop.html").link-btn Shop now
          else
            .cart-full-content.d-none
              ul.popover-content__list.cart-list
                +cart-item("Odsidian dress", 1, "€ 28.99", "XS")
                +cart-item("Pink dress", 1, "€ 369.99", "L")
              .cart-total
                .cart-total__text Total
                .cart-total__value € 398.98
              a(href="cart.html").link-btn Checkout
            .cart-empty-content
              .popover-content__text.text-center You currently don't have any items in your bag
              a(href="shop.html").link-btn Shop now
        a(href='javascript:;' title='Search').header-controls__search
          i.icon-search
          i.icon-close
    .header-search
      form.header-search__form
        .form-field
          input#headerSearch.form-input
          i.icon-search.header-search__icon
      .d-flex
        .w-100
          .header-search__subtitle Trending searches
          ul.header-search__list
            +link("shop.html", "Dresses")
            +link("shop.html", "Tops")
            +link("shop.html", "Jackets")
            +link("shop.html", "Skirts")
        .w-100
          .header-search__subtitle Whats new
          ul.header-search__list
            +link("shop.html", "Pants")
            +link("shop.html", "Accessories")
  .header-submenu
    .container
      .header-submenu-nav
        ul.header-submenu-nav__list
          +link("shop.html", "Dresses").header-nav__link
          +link("shop.html", "Suits").header-nav__link
          +link("shop.html", "Jumpsuits").header-nav__link
          +link("shop.html", "Trousers").header-nav__link
          +link("shop.html", "Skirts").header-nav__link
          +link("shop.html", "Jackets").header-nav__link
          +link("shop.html", "Tops").header-nav__link
          +link("shop.html", "Blouses").header-nav__link
          +link("shop.html", "Bodysuits").header-nav__link
          +link("shop.html", "Accessories").header-nav__link
          +link("shop.html", "Foulards").header-nav__link
          +link("shop.html", "Corsets").header-nav__link
          +link("shop.html", "Shorts").header-nav__link
          +link("shop.html", "Bags").header-nav__link
  
