section.main-banner
  .container.position-relative.d-none.d-lg-block
    .main-banner-socials
      ul.main-banner-socials__list
        +link("#")
          i.icon-insta
        +link("#")
          i.icon-fb
        +link("#")
          i.icon-pinterest
  .swiper-container.main-banner-swiper
    .swiper-wrapper
      +slide("Spring-summer '20", "../img/main-banner/ss.jpg", "../img/main-banner/ss_mobile.jpg")
      +slide("Fall-winter '19-20", "../img/main-banner/aw.jpg", "../img/main-banner/aw_mobile.jpg")
      +slide("Resort", "../img/main-banner/resort.jpg", "../img/main-banner/resort_mobile.jpg")
    .swiper-pagination
