section.section.recommended
  .container
    .section-title.text-center You may also like
    .recommended-grid
      +product(false)
      +product(false)
      +product(false)
      +product(false)
