script(src='../libs/jquery/jquery.min.js')
script(src='../libs/jquery-ui/jquery-ui.min.js')
script(src='../libs/jquery-ui/jquery.ui.touch-punch.min.js')
script(src='../libs/bootstrap/js/bootstrap.bundle.min.js')
script(src='../libs/swiper/swiper.min.js')
script(src='../libs/fancybox/jquery.fancybox.min.js')
script(src='../libs/lazyload/lazyload.min.js')
script(src='../libs/notify/notify.min.js')
script(src='../libs/matchheight/jquery.matchHeight-min.js')
script(src='../libs/formstyler/jquery.formstyler.min.js')
script(src='../libs/daterangepicker/moment.min.js')
script(src='../libs/daterangepicker/daterangepicker.js')
