#sideMenu.side-menu.d-lg-none
  .side-menu-container
    .side-menu-head
      .side-menu-slideout__close
        i.icon-down
      .side-menu-close
        i.icon-close
    .side-menu-body
      .container.text-center
        ul.side-menu-nav.mt-4
          +link("about.html", "About")
          +link("boutiques.html", "Boutiques")
          +link("contacts.html", "Contacts")
          +link("shop.html", "Shop")
        .side-menu-divider
        if !empty
          a(href='javascript:;' data-slideout-toggle).side-menu-account My account
        else
          a(href='login.html').side-menu-account Log in
        .side-menu-divider
        ul.side-menu-contacts
          +link("tel:+33607939590", "+33607939590")
          +link("mailto:sales@katrine-k.com", "sales@katrine-k.com")
          +link("mailto:info@katrine-k.com", "info@katrine-k.com")
        .side-menu-footer
          a(href="javascript:;" data-toggle="popover" data-placement="top").header-lang-switch__toggle en #[i.icon-down]
          .d-none.popover-content
            .d-flex.flex-column
              a(href='#').header-lang-switch__link.active en
              a(href='#').header-lang-switch__link ru
          ul.side-menu-socials
            +link("#")
              i.icon-fb
            +link("#")
              i.icon-insta
            +link("#")
              i.icon-pinterest
    .side-menu-slideout
      .side-menu-slideout__container
        .container.text-center
          ul.side-menu-nav
            +link("my-orders.html", "My orders")
            +link("wishlist.html", "Wishlist")
            +link("profile.html", "Profile")
            +link("#", "Sign out")
