link(href="../libs/jquery-ui/jquery-ui.min.css" rel="stylesheet")
link(href="../libs/swiper/swiper.min.css" rel="stylesheet")
link(href="../libs/fancybox/jquery.fancybox.min.css" rel="stylesheet")
link(href="../libs/formstyler/jquery.formstyler.css" rel="stylesheet")
link(href="../libs/daterangepicker/daterangepicker.css" rel="stylesheet")
