.cookies {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(#fff, .8);
  padding: 15px 100px;
  &-container {
    max-width: 970px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-text {
    font-size: 12px;
    max-width: 635px;
  }
  &-close {
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer;
    font-size: 20px;
    color: #aeaeae;
    transition: color .3s;
    &:hover {
      color: $hover;
    }
  }
}
