.footer {
  padding: 52px 0 20px;
  border-top: 1px solid $border;
  &-nav {
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      font-size: 12px;
      letter-spacing: 1.7px;
      li {
        a {
          display: block;
          padding: 6px;
          text-transform: uppercase;
          text-decoration: none;
          transition: background-color .3s;
          &:hover {
            background-color: $border;
          }
        }
        & + li {
          margin-left: 50px;
        }
      }
    }
  }
  &-socials {
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      li {
        a {
          display: block;
          font-size: 16px;
          color: #2d3344;
          text-decoration: none;
          &:hover {
            color: $hover;
          }
          i {
            display: block;
          }
        }
        & + li {
          margin-left: 42px;
        }
      }
    }
  }
}
.payments-img {
  width: 120px;
  img {
    display: block;
    max-width: 100%;
  }
}
.developers {
  margin-top: 17px;
  font-size: 10px;
  color: #aaaeb8;
  a {
    color: #aaaeb8;
    letter-spacing: 1.7px;
  }
}
