.header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 26px 0 10px;
  transition: background-color .3s;
  &.submenu__active {
    background-color: rgba(#fff, .95);
  }
  &-center {
    width: 190px;
    flex: none;
  }
  &-left, &-right {
    width: calc(50% - 95px);
    flex: none;
  }
  &-logo {
    display: block;
    width: 190px;
  }
  &-lang-switch {
    display: flex;
    margin-right: 40px;
    &__toggle {
      font-size: 12px;
      font-weight: 500;
      color: $accent;
      i {
        font-size: 6px;
      }
      &:hover {
        color: $accent;
        text-decoration: none;
      }
    }
    &__link {
      @extend .header-lang-switch__toggle;
      &:hover {
        color: $hover;
        text-decoration: underline;
      }
      &.active {
        color: $gray;
        pointer-events: none;
      }
    }
  }
  &-nav {
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      & > li {
        & + li {
          margin-left: 45px;
        }
      }
    }
    &__link {
      padding: 6px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1.7px;
      color: $accent;
      transition: background-color .3s;
      &:hover {
        color: $accent;
        background-color: $border;
        text-decoration: none;
      }
    }
  }
  &-controls {
    color: #fff;
    &__account, &__wish, &__cart {
      margin-top: 2px;
      font-size: 16px;
      color: $accent;
      &:hover {
        color: $accent;
      }
    }
    &__wish, &__cart {
      margin-left: 40px;
    }
    &__cart {
      position: relative;
      .cart-count {
        position: absolute;
        font-size: 13px;
        color: $accent;
        left: calc(100% + 3px);
        top: 0;
        transition: color .3s;
      }
    }
    &__search {
      color: $accent;
      width: 39px;
      height: 39px;
      border-radius: 50%;
      border: 1px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 55px;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      transition: border-color .3s;
      .icon-close {
        display: none;
      }
      &:hover {
        color: $accent;
        text-decoration: none;
      }
      &.active {
        border-color: $border;
        .icon-search {
          display: none;
        }
        .icon-close {
          display: block;
          font-size: 20px;
        }
      }
    }
  }
  &-search {
    display: none;
    position: absolute;
    z-index: 11;
    right: 15px;
    top: calc(100% + 10px);
    width: 582px;
    padding: 40px 65px 50px 40px;
    background-color: rgba(#fff, .95);
    box-shadow: 0 0 10px rgba(#000, .08);
    &__form {
      margin-bottom: 30px;
      input {
        padding: 0 20px 5px;
        font-size: 14px;
      }
    }
    &__icon {
      position: absolute;
      left: 0;
      top: 2px;
      font-size: 16px;
    }
    &__subtitle {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      color: $accent;
      margin-bottom: 15px;
    }
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        color: $accent;
        & + li {
          margin-top: 15px;
        }
        a {
          padding: 6px;
          text-decoration: none;
          &:hover {
            color: $accent;
            background-color: $border;
          }
        }
      }
    }
  }
  &-submenu {
    display: none;
    &-nav {
      padding: 20px 0;
      margin-left: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-auto-columns: auto;
        grid-auto-flow: column;
        grid-column-gap: 80px;
        grid-row-gap: 10px;
        li {
          justify-self: start;
          a {
            display: block;
            padding: 6px;
            font-size: 10px;
          }
        }
      }
    }
  }
}

.ui-menu.ui-widget.ui-widget-content {
  font-family: $default-font;
  font-size: 12px;
  color: $accent;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.08);
  .ui-menu-item {
    transition: 0s;
    &-wrapper {
      transition: 0s;
      &:hover {
        color: $accent;
        background-color: $border;
        border-color: transparent;
        transition: 0s;
      }
    }
  }
  .ui-menu-divider {
    display: none;
  }
}
