.main-banner {
  height: 100vh;
  &-socials {
    position: absolute;
    z-index: 5;
    right: 15px;
    top: 50vh;
    transform: translateY(-50%);
    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        & + li {
          margin-top: 40px;
        }
        a {
          display: block;
          font-size: 18px;
          color: #2d3344;
          text-decoration: none;
          &:hover {
            color: $hover;
          }
          i {
            display: block;
          }
        }
      }
    }
  }
  &__title {
    margin-bottom: 46px;
    font-size: 55px;
    letter-spacing: .5px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
